%legend Team
= form_for [@company, @team], :url => campaign_team_path(@campaign), :html => {:class => "form-horizontal"}  do |f|

  = render 'shared/errors', :entity => @team

  %fieldset
    = f.hidden_field :campaign_id
    = render_cell 'tb/form/richtext_field', :display, :form => f, :field => :team_highlights
    = render 'people', :title => 'Team Members', :grouping => :team_members, :add_title => 'Add Team Member', :f => f
    = render_cell 'tb/form/submit_button', :display