= simple_form_for [@company, @team], :url => campaign_team_path(@campaign), :wrapper => :vertical_form, :html => {:class => 'form-vertical'}, :validate => true do |f|
  = render 'shared/error_notification', :errors => f.error_notification
  
  = f.hidden_field :campaign_id
  
  = f.input :team_highlights, :label => 'Team Highlights', :as => :text, :input_html => {:rows => 3, :class => 'ckeditor'}
  
  = render 'people', :title => 'Team Members', :grouping => :team_members, :add_title => 'Add Team Member', :f => f
  
  %hr
  
  .form-action
    = f.submit 'Save', :class => 'btn btn-success btn-lg'
  