= semantic_form_for [@company, @team], :url => company_team_path(@company) do |f|

  = render 'shared/errors', :entity => @team

  = f.inputs do
    = f.input :company_id, :as => :hidden
    = f.input :team_highlights, :input_html => { :class => 'ckeditor' }

  = render 'people', :title => 'Team Members', :grouping => :team_members, :add_title => 'Add Team Member', :f => f

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Save changes'