= semantic_form_for [@company, @team], :url => company_team_path(@company) do |f|

  = render 'shared/errors', :entity => @team

  = f.inputs do
    = f.input :company_id, :as => :hidden
    = f.input :team_highlights, :input_html => { :class => 'ckeditor' }

  = render 'person', :title => 'Legal Counsel', :entity => :legal_counsel, :f => f
  = render 'people', :title => 'Founders', :grouping => :founders, :add_title => 'Add Founder', :f => f
  = render 'people', :title => 'Team Members', :grouping => :team_members, :add_title => 'Add Team Member', :f => f
  = render 'people', :title => 'Board Members', :grouping => :board_members, :add_title => 'Add Board Member', :f => f
  = render 'people', :title => 'Advisors', :grouping => :advisors, :add_title => 'Add Advisor', :f => f

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Save changes'