.nested-fields.no-borders
  .panel.panel-primary.marg-bottom
    .panel-heading
      = link_to_remove_association(('<i class="fa fa-times-circle"></i>').html_safe, f, {:class => 'close', :data => {:toggle => 'tooltip'}, :title => 'Remove this person'})
      %h3.panel-title Person Info
    .panel-body  
      .form-horizontal
        = f.input :first_name, :label => 'First Name', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :horizontal_form_with_icon
        = f.input :last_name, :label => 'Last Name', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :horizontal_form_with_icon
        = f.input :title, :label => 'Title', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :horizontal_form_with_icon
        = f.input :avatar_url, :as => :filepicker_image, :label => 'Avatar', :wrapper => :horizontal_form_with_inline_help, :input_html => {:html_options => {:class => 'btn btn-default btn-block'}, :pick_button_html => 'Choose A File...', :delete_button_html => "Remove"}
        = f.input :facebook, :label => 'Facebook ID', :placeholder => 'facebook_id', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :horizontal_form_with_icon
        = f.input :twitter, :label => 'Twitter ID', :placeholder => 'twitter_id', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :horizontal_form_with_icon
        = f.input :linkedin, :label => 'LinkedIn ID', :placeholder => 'linkedin_id', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :horizontal_form_with_icon
          
      = f.input :introduction, :label => 'Introduction', :as => :text, :input_html => {:rows => 3, :class => 'ckeditor'}
        
      .panel.panel-default.marg-bottom.no-borders
        .panel-heading
          %h3.panel-title.text-default Education
        .panel-body  
          .form-horizontal
            #educations
              = f.simple_fields_for :educations do |education|  
                = render 'education_fields', :f => education
              .wrapper-btn.text-center
                = link_to_add_association(('<i class="fa fa-plus"></i> Add Education').html_safe, f, :educations)
   
