%fieldset
  = render_cell 'tb/form/text_field', :display, :form => f, :field => :first_name
  = render_cell 'tb/form/text_field', :display, :form => f, :field => :last_name
  = render_cell 'tb/form/text_field', :display, :form => f, :field => :title
  = render_cell 'tb/form/filepicker_field', :display, :form => f, :field => :avatar_url, :label => "Avatar"
  = render_cell 'tb/form/text_field', :display, :form => f, :field => :facebook
  = render_cell 'tb/form/text_field', :display, :form => f, :field => :twitter
  = render_cell 'tb/form/text_field', :display, :form => f, :field => :linkedin
  = render_cell 'tb/form/richtext_field', :display, :form => f, :field => :introduction
  = render_cell 'tb/form/text_field', :display, :form => f, :field => :video_url
  %hr
  %h4 Education
  #educations
    = f.fields_for :educations do |e|
      = render 'education_fields', :f => e
    .links
      = link_to_add_association 'Add Education', f, :educations

  :erb
    <div class="form-group">
      <div class="col-md-3 control-label">&nbsp;</div>
      <div class="col-md-7">
        <%= link_to_remove_association "Remove this person", f, :class => 'btn btn-default btn-xs' %>
      </div>
    </div>
