%h2= title
= f.fields_for entity do |member|
  .nested-fields
    = member.inputs do
      = member.input :first_name
      = member.input :last_name
      = member.input :title
      = member.input :avatar_url, :as => :formtastic_filepicker_image
      = member.input :facebook
      = member.input :twitter
      = member.input :linkedin
      = member.input :introduction, :input_html => { :class => 'ckeditor' }
      = member.input :video_url