.team-highlights
  %h3.text-center Our Team
  = raw @campaign.team.team_highlights

.team-members
  .row
    - @campaign.team.team_members.each do |member|
      .col-md-4
        - if not member.avatar.blank?
          %img.img-circle{:src => member.avatar}
        .team-member-info
          %h4.text-center= "#{member.full_name}"
          %h5.text-center= "#{member.title}"

          - if member.introduction
            .introduction= raw member.introduction

          - if member.video_url
            %p= render 'shared/youtube', :video_url => member.video_url, :width => 450, :height => 300

          .share-buttons.text-center
            - if member.facebook
              = link_to "http://www.facebook.com/#{member.facebook}" do
                %span.glyphicon.glyphicon-share-alt
            - if member.twitter
              = link_to "http://www.twitter.com/#{member.twitter}" do
                %span.glyphicon.glyphicon-share-alt
            - if member.linkedin
              = link_to "http://www.linkedin.com/#{member.linkedin}" do
                %span.glyphicon.glyphicon-share-alt