= render 'campaigns/management_navigation', :active => :people, :campaign => @campaign

.panel
  = render_cell 'tb/form/tb_mini_link_button', :display, :label => 'Edit Team', :link => edit_campaign_team_path(@campaign)
  - if @team.draft?
    = render_cell 'tb/form/tb_mini_link_button', :display, :label => 'Check for completeness', :link => check_for_completeness_campaign_team_path(@campaign)

  = render 'shared/property_row', :header => 'Team Highlights', :value => (raw @team.team_highlights)

  %h5 Team members
  %p
    - @team.team_members.each do |p|
      = p.full_name
      = p.title
      = render 'shared/youtube', :video_url => p.video_url, :width => 590, :height => 400
      %br