= render 'companies/navigation', :active => :people, :company => current_user.owner.company

%ul
  %li
    %h4
      = link_to 'Edit', edit_company_team_path(@company)
  - if @team.draft?
    %li
      %h4= link_to 'Submit for review', submit_for_review_company_team_path(@company)

%h5 Status
#status= @team.status.humanize

= render 'shared/property_row', :header => 'Team Highlights', :value => (raw @team.team_highlights)

%h5 Team members
%p
  - @team.team_members.each do |p|
    = p.full_name
    = p.title
    = render 'shared/youtube', :video_url => p.video_url
    %br