= render 'companies/navigation', :active => :people, :company => current_user.owner.company

.panel
  = link_to 'Edit Team', edit_company_team_path(@company), :class => 'button small'
  = link_to 'Check for completeness', check_for_completeness_company_team_path(@company), :class => 'button small'

  = render 'shared/property_row', :header => 'Team Highlights', :value => (raw @team.team_highlights)

  %h5 Team members
  %p
    - @team.team_members.each do |p|
      = p.full_name
      = p.title
      = render 'shared/youtube', :video_url => p.video_url
      %br