= render 'investments/navigation', :active => 'investment_amount', :campaign => @campaign

.container
  .row
    .col-md-8
      = form_for [@campaign, @investment], :url => campaign_investment_path(@campaign, @investment), :html => {:class => 'form-horizontal well'} do |f|
        = render 'shared/errors', :entity => @investment
        = render_cell 'tb/form/subhead', :display, :label => 'Investment Amount'

        %fieldset
          = render_cell 'tb/form/text', :display, :form => f, :field => :amount
          = render_cell 'tb/form/submit_button', :display