- content_for :masthead_blue do
  - content_for :wrapper_classes, 'no-pad-top'
  
  .page-header
    %h1 Investor Verification

.container
  %section.wrapper-page
    .page-heading
      = render 'companies/heading'
    .page-body.text-center
      %p.lead.text-green
        = "You can #{income_verification_link_simple('verify your income')} via your #{link_to 'Investor Dashboard', user_investor_path(current_user)}.".html_safe
      %p.lead.text-green
        Once you are a verified accredited investor, you can resume your investment in this company. A link back to this investment can be found in your
        = "#{link_to 'Investor Newsfeed', user_investor_events_path(current_user)}.".html_safe
