= render 'investments/navigation', :active => 'investment_amount', :campaign => @campaign

= form_for @investment, :url => campaign_investments_path(@campaign), :html => {:class => 'form-horizontal editting-form well'} do |f|
  = render 'shared/errors', :entity => @investment
  = render_cell 'tb/form/subhead', :display, :label => 'Investment Amount'

  %fieldset
    = render_cell 'tb/form/text', :display, :form => f, :field => :amount, :placeholder => "$10,000.00"
    = render_cell 'tb/form/submit_button', :display, :label => "Add to your investment"
