= render 'investments/navigation', :active => 'investment_amount', :campaign => @campaign

= form_for @investment, :url => campaign_investments_path(@campaign), :html => {:class => 'form-horizontal editting-form well'} do |f|
  = render 'shared/errors', :entity => @investment
  = render_cell 'tb/form/subhead', :display, :label => 'Investment Amount'
  = f.hidden_field :campaign_id
  = f.hidden_field :investor_id

  %fieldset
    = render_cell 'tb/form/moneyfield', :display, :label => 'Amount', :form => f, :field => :amount_cents, :placeholder => '$10,000.00'
    = render_cell 'tb/form/submit_button', :display, :label => 'Save'
