- content_for :masthead_blue do
  - content_for :wrapper_classes, 'no-pad-top'
  
  .page-header
    %h1 Select Payment Method

.container
  %section.wrapper-page
    .page-body.text-center
      .row
        .col-md-10.col-md-offset-1
          %p.text-green
            Please indicate below the method which you would like to use to fund your investment amount into a designated
            %br.hidden-md.hidden-sm.hidden-xs
            escrow account set-up specifically for the particular company in which you desire to invest.
          .select-method-unit
            .row
              .col-sm-6
                = link_to campaign_investment_update_payment_type_path(@campaign, @investment, :payment_type => :online), :class => 'method-item left', :method => :put, :id => 'online-link' do
                  %span.title-method Online Payment   
                  I have a US bank account and would like 
                  %br.hidden-md.hidden-sm.hidden-xs
                  to pay via ACH  
              
              .col-sm-12.hidden-sm.hidden-md.hidden-lg  
                %h4.separator-line
                  %span.text-primary or
                          
              .col-sm-6
                -#= link_to campaign_investment_update_payment_type_path(@campaign, @investment, :payment_type => :offline), :class => 'method-item', :method => :put, :id => 'offline-link' do
                = link_to '#', :class => 'method-item right', :method => :put, :id => 'offline-link' do
                  %span.title-method Offline Payment   
                  I will be paying by wire transfer (US or international investors) or by check (US investors only)

-#
  = render 'investments/navigation', :active => 'payment', :campaign => @campaign
  
  #information
    %h3
      Select Payment Method
    %p
      Please indicate below the method which you would like to use to fund your investment amount into a designated escrow account, set up specifically for the particular company in which you desire to invest.
    .col-md-6
      = link_to campaign_investment_update_payment_type_path(@campaign, @investment, :payment_type => :online), :method => :put, :id => 'online-link' do
        %h4 Online Payment
        %p I have a US bank account and would like to pay via ACH.
    .col-md-6
      -#= link_to campaign_investment_update_payment_type_path(@campaign, @investment, :payment_type => :offline), :method => :put, :id => 'offline-link' do
      = link_to '#', :method => :put, :id => 'offline-link' do
        %h4 Offline Payment
        %p I will be paying by wire transfer (US or international investors) or by check (US investors only).
