.dashboard-campaign
  %h2 Campaigns

  - unless @campaigns.blank?
    %ul
      - @campaigns.each do |c|
        %li
          %span #{c.company.campaign_title}
          %span.campaign-live #{c.status}
          = link_to "Edit", campaign_company_path(c)
          %span
            = "|"
          = link_to "Display", display_campaign_company_path(c)

  - else
    %p None.
