#dashboard.container
  .row
    .col-md-8
      .dashboard-content
        %h2 Tester Dashboard
        %hr
        %p.em
          All system-generated test user accounts use a password of 'secret'.

        - unless @test_users.blank?
          %p= "There are #{@test_users.count} test users in the system."
          - @test_users.each do |tu|
            %p.col-md-offset-1= "User #{tu.email} is an #{tu.user_type}."
            - if tu.is_owner? && tu.owner.campaign
              Has a campaign
        - else
          There are no test users in the database.

    .col-md-4.dashboard-right
      .dashboard-content
        %h2 Actions
        %hr
        = button_to 'Reset the database', tester_dashboard_reset_database_path, :class => 'btn btn-danger btn-large', :method => :get