= content_for :sidebar_left do
  %ul.nav.nav-stacked
    %li{:class => "#{'active' if active == 'dashboard'}"}
      = link_to('Dashboard', dashboard_path)
    %li{:class => "#{'active' if active == 'basic_info'}"}
      = link_to('Profile & Privacy', user_path(@user))
    %li{:class => "#{'active' if active == 'investor_profile'}"}
      = link_to('Investor Profile', user_investor_path(@user))
    %li{:class => "#{'active' if active == 'settings_info'}"}
      = link_to('Password', user_settings_path(@user))
    %li{:class => "#{'active' if active == 'investor_newsfeed'}"}
      = link_to('Investor Newsfeed', user_investor_events_path(@user))
    %li{:class => "#{'active' if active == 'income_verification'}"}
      = income_verification_link('Income Verification')
    %li{:class => "#{'active' if active == 'self_accredited_status'}"}
      = link_to 'Accredited Investor', new_user_investor_self_accredited_status_path(current_user)
