= content_for :sidebar_left do
  %ul.nav.nav-stacked
    %li{:class => "#{'active' if active == 'issuer_profile'}"}
      = link_to('Issuer Profile', user_issuer_path(@user))
    %li{:class => "#{'active' if active == 'issuer_newsfeed'}"}
      = link_to('Issuer Newsfeed', user_issuer_events_path(@user))
    %li{:class => "#{'active' if active == 'issuer_campaign'}"}
      = link_to('Campaign', user_issuer_campaign_path(@user))
    %li{:class => "#{'active' if active == 'issuer_campaign_investments'}"}
      = link_to('Investments', user_issuer_campaign_investments_path(@user))
    %li{:class => "#{'active' if active == 'issuer_signings'}"}
      = link_to('Documents', user_issuer_signings_path(@user))
    %li{:class => "#{'active' if active == 'bank_account'}"}
      - if @user.bank_account.nil?
        = link_to 'Bank Account', new_user_bank_account_path(@user)
      - else
        = link_to 'Bank Account', user_bank_account_path(@user, @user.bank_account)
