%nav.dashboard-nav
  %ul.nav.nav-pills.nav-stacked    
    %li{:class => "#{'active' if active == 'issuer_profile'}"}
      = link_to user_issuer_path(@user) do
        %i.fa.fa-align-right.fa-rotate-90.fa-fw 
        %span.hidden-xs Founder Dashboard
    %li{:class => "#{'active' if active == 'user_profile'}"}
      = link_to '/profile' do
        %i.fa.fa-user.fa-fw 
        %span.hidden-xs Profile
    %li{:class => "#{'active' if active == 'issuer_campaign'}"}
      = link_to user_issuer_campaign_path(@user) do
        %i.fa.fa-dot-circle-o.fa-fw 
        Campaign
    %li{:class => "#{'active' if active == 'issuer_campaign_investments'}"}
      = link_to('Investments', user_issuer_campaign_investments_path(@user))
    %li{:class => "#{'active' if active == 'issuer_signings'}"}
      = link_to('Documents', user_issuer_signings_path(@user))
    %li{:class => "#{'active' if active == 'bank_account'}"}
      - if @user.bank_account.nil?
        = link_to 'Bank Account', new_user_bank_account_path(@user)
      - else
        = link_to 'Bank Account', user_bank_account_path(@user, @user.bank_account)
    %li{:class => "#{'active' if active == 'issuer_newsfeed'}"}
      = link_to user_issuer_events_path(@user) do
        %i.fa.fa-rss-square.fa-fw 
        %span.hidden-xs Issuer Newsfeed