.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'dashboard/dashboard_nav', :active => 'issuer_profile'
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %section.user-head-info
            .media
              .user-avatar.pull-left
                - if !@user.avatar_url.blank?
                  = image_tag(@user.avatar_url + "/convert?w=92&h=92", :class => 'img-thumbnail')
                - else
                  = image_tag("noavatar.gif", :class => 'img-thumbnail')
                  
              .media-body
                .top-info
                  .row
                    .col-sm-9
                      %h3.name
                        = @user.full_name
                      %ul.description.list-unstyled
                        %li
                          %i.fa.fa-globe.fa-fw
                          Wharton University
                    .col-sm-3
                      .list-soc
                        %ul.list-unstyled
                          %li.soc-twitter
                            = link_to 'https://twitter.com/AlumVest', :target => "_blank", :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => 'Twitter' do 
                              %span.fa-stack
                                %i.fa.fa-circle.fa-stack-2x
                                %i.fa.fa-twitter.fa-stack-1x.fa-inverse
                          %li.soc-facebook
                            = link_to 'https://www.facebook.com/AlumVest', :target => "_blank", :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => 'Facebook' do
                              %span.fa-stack
                                %i.fa.fa-circle.fa-stack-2x
                                %i.fa.fa-facebook.fa-stack-1x.fa-inverse
                          %li.soc-linkedin
                            = link_to 'http://www.linkedin.com/company/AlumVest', :target => "_blank", :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => 'LinkedIn' do
                              %span.fa-stack
                                %i.fa.fa-circle.fa-stack-2x
                                %i.fa.fa-linkedin.fa-stack-1x.fa-inverse
                .bottom-info.no-marg-bottom
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.          
          / END .user-head-info
          
          %section
            %h3.h2.text-primary.marg-bottom.marg-bottom-lg 
              %i.glyphicon.glyphicon-stats.fa-fw
              My Stats
            
            .table-responsive  
              %table.table.table-bordered.table-lg
                %tbody
                  %tr
                    %td Project A - (80%)
                    %td $150,000 – 15% of equity fulfilled
                  %tr
                    %td Project C - (10%)
                    %td $20,000 – 6% of equity fulfilled
            
          / END %section
          
          %section
            %h3.h2.text-primary.marg-bottom.marg-bottom-lg  
              %i.glyphicon.glyphicon-heart.fa-fw
              My Companies
            
            .row
              .col-sm-6
                .company-item
                  .company-body
                    %figure
                      .image
                        = link_to '#' do
                          = image_tag("companies/company-1.jpg", :class => 'img-responsive', :title => 'Mobile app Generator')
                      %figcaption
                        .title
                          %h4.upper 
                            = link_to 'Mobile app Generator', '#'
                          .by-name 
                            by 
                            = link_to 'Columbia University', '#'
                        %p 
                          This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
                          = link_to '[ ..... ]', '#', :class => 'read-more nowrap', :title => 'read more', :data => {:toggle => "tooltip", :placement => "right", :container => 'body'}
                  .company-footer
                    .media
                      .pull-left
                        %input{:type => "text", :value => "75", :data => {:toggle => 'knob', :width => '56', :height => '56', :linecap => 'round', :readOnly => 'true', :fgColor => "#2c6291", :bgColor => "#4d9fe7", :displayPrevious => 'true', :thickness => '0.25'}}
                      .media-body
                        .row
                          .col-sm-4
                            %h6 Goal
                            %p $25000
                          .separator
                          .col-sm-4
                            %h6 Raised
                            %p $15000
                          .separator
                          .col-sm-4
                            %h6 Funders
                            %p 250
                / END .company-item
                
              .col-sm-6
                .company-item
                  .company-body
                    %figure
                      .image
                        = link_to '#' do
                          = image_tag("companies/company-2.jpg", :class => 'img-responsive', :title => 'Lighting Fx')
                      %figcaption
                        .title
                          %h4.upper 
                            = link_to 'Lighting Fx', '#'
                          .by-name 
                            by 
                            = link_to 'Harward University', '#'
                        %p 
                          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
                          = link_to '[ ..... ]', '#', :class => 'read-more nowrap', :title => 'read more', :data => {:toggle => "tooltip", :placement => "right", :container => 'body'}
                  .company-footer
                    .media
                      .pull-left
                        1
                      .media-body
                        .row
                          .col-sm-4
                            %h6 Goal
                            %p $25000
                          .separator
                          .col-sm-4
                            %h6 Raised
                            %p $15000
                          .separator
                          .col-sm-4
                            %h6 Funders
                            %p 250
                / END .company-item
            
          / END %section
          
          %section
            %h3.h2.text-primary.marg-bottom.marg-bottom-lg  
              %i.glyphicon.glyphicon-refresh.fa-fw
              My Updates
            
            .row
              .col-sm-6
                .well
                  .well-heading
                    %h5.no-marg-top.text-info Recent Updates
                  %dl
                    %dt 12/11/2013
                    %dd John Q. invested $50,000 in project A for 5% equity.
                    %dt 12/11/2013
                    %dd John Q. invested $50,000 in project A for 5% equity.
                    %dt 12/11/2013
                    %dd John Q. invested $50,000 in project A for 5% equity.
              .col-sm-6
                .well
                  .well-heading
                    %h5.no-marg-top.text-info Attention Required
                  %dl
                    %dt 12/11/2013
                    %dd John Q. invested $50,000 in project A for 5% equity.
                    %dt 12/11/2013
                    %dd John Q. invested $50,000 in project A for 5% equity.
                    %dt 12/11/2013
                    %dd John Q. invested $50,000 in project A for 5% equity.
                    
          / END %section
