= semantic_form_for [@cpf] do |f|

  %h2 Team Members
  = f.semantic_fields_for :team_members do |team_member|
    = render 'people_fields', :f => team_member
    .links
      = link_to_add_association 'Add Team Member', f, :team_members, :partial => 'people_fields', :force_non_association_create => true

  %h2 Board Members
  = f.semantic_fields_for :board_members do |board_member|
    = render 'people_fields', :f => board_member
    .links
      = link_to_add_association 'Add Board Member', f, :board_members, :partial => 'people_fields', :force_non_association_create => true

  %h2 Advisors
  = f.semantic_fields_for :advisors do |advisor|
    = render 'people_fields', :f => advisor
    .links
      = link_to_add_association 'Add Advisor', f, :advisors, :partial => 'people_fields', :force_non_association_create => true

  = f.actions do
    = f.action :submit, :as => :input