%h2= title
= f.semantic_fields_for entity do |member|
  .nested-fields
    = member.inputs do
      = member.input :first_name
      = member.input :last_name
      = member.input :avatar_url, :as => :formtastic_filepicker_image
      = member.input :facebook
      = member.input :twitter
      = member.input :linkedin