= render 'company_worksheets/navigation', :active => :people, :company_worksheet => current_user.owner.company_worksheet

%h4
  = link_to 'Edit', edit_company_personnel_form_path(@cpf)

%h5 Legal counsel
%p= @cpf.legal_counsel.first.try(:full_name) || 'None specified'

%h5 Founders
%p
  - @cpf.founders.each do |p|
    = p.full_name
    %br

%h5 Team members
%p
  - @cpf.team_members.each do |p|
    = p.full_name
    %br

%h5 Board members
%p
  - @cpf.board_members.each do |p|
    = p.full_name
    %br

%h5 Advisors
%p
  - @cpf.advisors.each do |p|
    = p.full_name
    %br
