%p
  = "An investment of #{number_to_currency(event.investment.amount)} was funded for "
  = link_to event.investment.campaign.company.campaign_title, '#'
  = "#{time_ago_in_words(event.created_at)} ago."