= content_for :sidebar_left do
  %ul.nav.nav-stacked
    %li{:class => "#{'active' if active == 'admin_dashboard'}"}
      = link_to('Dashboard', user_admin_path(@user))
    %li{:class => "#{'active' if active == 'admin_campaign_publication_events'}"}
      = link_to('Campaign Publication Events', campaign_publication_events_user_admin_path(@user))
    %li{:class => "#{'active' if active == 'admin_income_verification_events'}"}
      = link_to('Income Verification Events', income_verification_events_user_admin_path(@user))
    %li{:class => "#{'active' if active == 'admin_investor_signings'}"}
      = link_to('Investor Signings', investor_signings_user_admin_path(@user))