= render "users/navigation", :active => 'bancbox_agreement'
= render "users/header"

#information
  .container
    = button_to 'Edit', edit_user_bancbox_agreement_path(@user), :class => 'btn btn-primary', :method => :get
    = render "shared/property_row", :header =>  "Technology Agreement", :value => nil
    = render "shared/property_row", :header => "Platform Agreement", :value => nil
    = render "shared/property_row", :header => "Privacy Policy", :value => nil
    = render "shared/property_row", :header => "Agree?", :value => @bancbox_agreement.is_agreed