= render "investors/side_navigation", :active => 'bancbox_investor_profile'
= render "users/header"

#funds
  .container
    = form_for @transaction, :url => fund_user_bancbox_investor_path(@user), :html => {:class => "form-horizontal"} do |f|
      = render 'shared/errors', :entity => @transaction

      %fieldset
        - with_options :form => f do |op|
          = op.render_cell 'tb/form/text', :display, :field => :amount
          = op.render_cell 'tb/form/text', :display, :field => :memo
        = fields_for @bank_account do |bf|
          - with_options :form => bf do |bap|
            = bap.render_cell 'tb/form/text', :display, :field => :bank_account_holder
            = bap.render_cell 'tb/form/select', :display, :field => :bank_account_type, :values => ["CHECKING", "SAVING"]
            = bap.render_cell 'tb/form/text', :display, :field => :bank_account_routing
            = bap.render_cell 'tb/form/text', :display, :field => :bank_account_number
        = render_cell 'tb/form/submit_button', :display, :label => 'Fund'

