%p
  = "Congratulations, your campaign "
  = link_to went_live.campaign.company.campaign_title, display_campaign_company_path(went_live.campaign)
  = " went live "
  = "#{time_ago_in_words(went_live.created_at)} ago."