= render 'investors/side_navigation', :active => 'income_verification'
= render 'users/header'

#information
  = form_for @income_verification, :url => user_investor_income_verification_path(@user), :html => {:class => 'form-horizontal editting-form well'} do |f|
    = render 'shared/errors', :entity => @income_verification

    %fieldset
      = f.hidden_field :investor_id

      - with_options :form => f do |op|
        = op.render_cell 'tb/form/subhead', :display, :label => 'Income Verification'
        = op.render_cell 'tb/form/helptext', :display, :text => I18n.t('veritax-help-1').html_safe
        = op.render_cell 'tb/form/helptext', :display, :text => I18n.t('veritax-help-2').html_safe
        = op.render_cell 'tb/form/text', :display, :field => :first_name
        = op.render_cell 'tb/form/text', :display, :field => :last_name
        = op.render_cell 'tb/form/text', :display, :field => :ssn, label: 'SSN', :placeholder => "XXX-XX-XXXX"
        = op.render_cell 'tb/form/helptext', :display, :text => I18n.t('veritax-help-email').html_safe
        = op.render_cell 'tb/form/text', :display, :field => :email
        = op.render_cell 'tb/form/text', :display, :field => :address
        = op.render_cell 'tb/form/text', :display, :field => :city
        = op.render_cell 'tb/form/text', :display, :field => :state
        = op.render_cell 'tb/form/text', :display, :field => :zip_code
        %p &nbsp;
        = op.render_cell 'tb/form/text', :display, :field => :previous_address
        = op.render_cell 'tb/form/text', :display, :field => :previous_city
        = op.render_cell 'tb/form/text', :display, :field => :previous_state
        = op.render_cell 'tb/form/text', :display, :field => :previous_zip

      = render_cell 'tb/form/submit_button', :display, label: 'Review and submit'
