.meta_landing
  .row
    .header.large-12.small-12.columns
      %h1.centered This tagline is so amazing, you'll buy it today.
  .row
    .header.large-4.small-6.columns.large-centered.small-centered
      = link_to "Learn More", "#", :class => "button"
      = link_to "View Themes", "#", :class => "button secondary"
  .row
    .large-12.small-12.columns
      %h2.subheading.centered If that headline didn't get you, <br />this one will!
  - 2.times do
    .row
      - 2.times do
        .large-6.small-12.columns
          = link_to "#" do
            .panel
              = image_tag "http://placehold.it/85x125", :class => "pop-out left th"
              %h3 Beautiful Designs
              %p Designed by professional designers (and developed by professional web developers), our themes are real lookers.
  %hr.greyscale
  .row
    .large-12.small-12.columns
      %h2.centered Featured Themes
  .row
    - 2.times do
      .large-6.small-6.columns
        = render :partial => 'railsthemes/railsthemes/wide_product_summary', :locals => { :image => "http://placehold.it/420x130", :link => "#", :name => "Red-y for Inspiration"}
  %hr.greyscale
  .row
    = render 'railsthemes/railsthemes/testimonial'
  .row
    .large-5.small-12.columns.large-centered
      %hr.greyscale
  .row.testimonial
    = render 'railsthemes/railsthemes/testimonial'
