.row
  .large-3.small-3.columns
    %ul.side-nav
      %li= link_to "All Products", "#"
      %li.divider
      %li= link_to "New", "#"
      %li= link_to "Stuff", "#"
      %li= link_to "Women's Clothing", "#"
      %li= link_to "Mens's Clothing", "#"
      %li= link_to "Childrens", "#"
      %li= link_to "Homegoods", "#"
      %li= link_to "Specials", "#"
    .promo
      = image_tag "http://placehold.it/200&text=Promo"

  .large-9.small-9.columns
    .row
      .large-4.small-12.columns.prod-summary
        = image_tag "http://placehold.it/500x500", :class => "prod-image"
        .prod-description
          %h5.prod-name Product Name
          %p.prod-price $19.99
      .large-4.small-12.columns.prod-summary
        = image_tag "http://placehold.it/500x500", :class => "prod-image"
        .prod-description
          %h5.prod-name Wonderful T-Shirt
          %p.prod-price $19.99
      .large-4.small-12.columns.prod-summary
        = image_tag "http://placehold.it/500x500", :class => "prod-image"
        .prod-description
          %h5.prod-name Wonderful Jeans
          %p.prod-price $19.99
    .row
      .large-4.small-12.columns.prod-summary
        = image_tag "http://placehold.it/500x500", :class => "prod-image"
        .prod-description
          %h5.prod-name Wonderful Sweater
          %p.prod-price $19.99
      .large-4.small-12.columns.prod-summary
        = image_tag "http://placehold.it/500x500", :class => "prod-image"
        .prod-description
          %h5.prod-name Wonderful Product
          %p.prod-price $19.99
      .large-4.small-12.columns.prod-summary
        = image_tag "http://placehold.it/500x500", :class => "prod-image"
        .prod-description
          %h5.prod-name Wonderful Product
          %p.prod-price $19.99
    %hr.greyscale
    .row
      %ul.pagination
        %li.arrow.unavailable
          = link_to do
            &laquo;
        %li.current
          = link_to "1"
        %li
          = link_to "2"
        %li
          = link_to "3"
        %li
          = link_to "4"
        %li.unavaliable
          = link_to do
            &hellip;
        %li
          = link_to "12"
        %li
          = link_to "13"
        %li.arrow
          = link_to do
            &raquo;
