.row
  .large-5.small-5.columns
    = image_tag "http://placehold.it/500x500", :class => "prod-image", :id => "featured-image"
    %ul.small-block-grid-2.large-block-grid-4
      - 4.times do
        %li= image_tag "http://placehold.it/500x500", :class => "prod-image"
  .large-7.small-7.columns
    %h1.prod-name Product Name
    %p.prod-description Lorem ipsum dolor sit amet, magna iisque quaerendum quo id, quem assum comprehensam pro no, vis albucius interpretaris eu. Solum tation soluta ei quo, at elit justo mea. An mel quas debitis, consul soluta sea eu. Ipsum persius has ne, altera impedit te sit, cu eos zril discere scriptorem. Simul labores vituperatoribus id cum, in ius accusam corpora evertitur, unum malorum cum cu. Ea aeterno meliore vel.
    %ul
      %li You should buy it
      %li Because it's great
      %li and everyone else has one
    %p.prod-price $19.99
    %button.cart-url Add to cart &raquo;

.row
  .large-12.small-12.columns
    .prod-reviews
      %h3 Reviews
    .row
      .small-12.columns
        .panel
          = render 'railsthemes/railsthemes/testimonial'
        -#- A reply:
        .large-11.small-11.columns.large-offset-1.small-offset-1
          .panel= render 'railsthemes/railsthemes/testimonial'
      - 3.times do
        .small-12.columns
          .panel= render 'railsthemes/railsthemes/testimonial'
%hr
.row
  .large-12.small-12.columns
    %h3 Similar Items
    %ul.small-block-grid-2.large-block-grid-5
      - 5.times do
        %li= image_tag "http://placehold.it/500x500"
