= content_for :sidebar_left do
  %ul.nav.nav-stacked
    - if ((biv = @user.banking_account.bancbox_identity_verification) && biv.verified?)
      %li{:class => "#{'active' if active == 'banking_accounts'}"}
        = link_to('Account', user_banking_account_path(@user))
    - else
      %li{:class => "#{'active' if active == 'banking_identities'}"}
        = link_to('Identity', user_banking_identity_path(@user))
      %li{:class => "#{'disabled'}"}
        = link_to('Account', '#', :class => 'disabled')