- unless @investor_signings.blank?

  %table.table
    %thead
      %tr
        %td
          Camapaign
        %td
          Investor
        %td
          Document
        %td
    %tbody
      - @investor_signings.each do |s|
        - campaign = s.investment_finalization.campaign
        %tr
          %td
            = link_to campaign.company.campaign_title, display_campaign_company_path(campaign)
          %td
            = link_to s.investment_finalization.investor.user.name, '#'
          %td
            = link_to s.document.name, envelope_signed_document_path(s.envelope), :target => "_blank"
          %td
            = link_to "Approve", admin_dashboard_approve_investor_signing_path(:signing => s, :admin => current_user), :method => :post, :class => 'btn btn-default btn-xs'
            = link_to "Reject", admin_dashboard_reject_investor_signing_path(:signing => s, :admin => current_user), :method => :post, :class => 'btn btn-default btn-xs'

- else
  %p You don't have any now.
