= render 'banking/side_navigation', :active => 'banking_transactions'
= render 'users/header'

#information
  .container
    %p
      %table
        %tr
          %td
            = button_to 'Deposit', user_banking_account_bancbox_deposits_path(@user, :deposit => {:value => 100}), :method => :post, :class => 'btn btn-success btn-large'
          %td
            = button_to 'Withdrawal', user_banking_account_bancbox_withdrawals_path(@user, :withdrawal => {:value => 100}), :method => :post, :class => 'btn btn-danger btn-large'

    %p
      #account-balance= "Your account balance: #{number_to_currency(@banking_account.balance)}"

    %p
      %table.table
        %thead
          %tr
            %td
              Processed
            %td
              Transaction type
            %td
              Amount
        %tbody
          - @transactions.each do |xn|
            %tr
              %td
                = "#{time_ago_in_words xn.created_at} ago"
              %td
                = xn.human_type
              %td
                = number_to_currency xn.value