%legend Jobs
= render 'shared/errors', :entity => @job

- if active == :new
  - url = campaign_company_jobs_path(@campaign, @job)
- else
  - url = campaign_company_job_path(@campaign, @job)

= form_for [@campaign, @job], :url => url, :html => {:class => "form-horizontal"} do |f|

  %fieldset
    = f.hidden_field :company_id

    = render_cell 'tb/form/text_field', :display, :form => f, :field => :title
    = render_cell 'tb/form/richtext_field', :display, :form => f, :field => :description
    = render_cell 'tb/form/text_field', :display, :form => f, :field => :contact
    = render_cell 'tb/form/submit_button', :display
