.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'dashboard/dashboard_nav', :active => 'notification_prefs'
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %h1.text-primary.no-marg-top Notify
          
          = simple_form_for @user, :url => user_notification_prefs_path(@user), html: {class: 'form-horizontal self-accredited-fr'}, validate: true do |f|
            = render 'shared/error_notification', :errors => f.error_notification
            
            .panel.panel-default.no-borders
              .panel-heading
                %h3.panel-title.text-default Social & Investment Activity & Updates
              .panel-body
                .form-group.no-marg-bottom
                  %label.col-sm-3.control-label Email me when
                  .col-sm-9
                    = f.input :direct_message_pref, :label => 'I am sent a direct message', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                    = f.input :comment_reply_pref, :label => 'Someone replies to my comment or question', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                    = f.input :update_pref, :label => 'A company or fund I follow posts an update', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                    = f.input :funding_milestone_pref, :label => 'A company or fund I follow hits a funding milestone', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                    = f.input :profile_update_pref, :label => 'A company or fund I follow updates their profile', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                    = f.input :answer_pref, :label => 'A company or fund I follow answers a question', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
            
            .panel.panel-default.no-borders
              .panel-heading
                %h3.panel-title.text-default AlumVest Activity & Updatest
              .panel-body
                .form-group.no-marg-bottom
                  %label.col-sm-3.control-label Email me with
                  .col-sm-9        
                    = f.input :alumvest_update_pref, :label => 'Important updates about AlumVest', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                    = f.input :featured_startup_pref, :label => 'Featured startups (no more than twice a week)', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                    = f.input :highlighted_update_pref, :label => 'Highlighted updates from trending startups (no more than every 2 weeks)', :wrapper => :horizontal_boolean_row, wrapper_html: {:class => 'no-marg-bottom'}
                .form-action
                  = f.submit 'Save', :class => 'btn btn-primary btn-lg'

