-if @user.nil?
  %h2 User not found
-else
  - if current_user != nil and @user.id == current_user.id
    = form_for @user, :html => {:class => "form-horizontal"} do |f|
      %fieldset
        = render_cell 'tb/form/filepicker_field', :display, :form => f, :field => :avatar_url, :label => "Avatar"
        = render_cell 'tb/form/text_field', :display, :form => f, :field => :first_name
        = render_cell 'tb/form/text_field', :display, :form => f, :field => :middle_name
        = render_cell 'tb/form/text_field', :display, :form => f, :field => :last_name
        = render_cell 'tb/form/text_field', :display, :form => f, :field => :email
        = render_cell 'tb/form/text_field', :display, :form => f, :field => :facebook
        = render_cell 'tb/form/text_field', :display, :form => f, :field => :linkedin
        %hr
        %h4 Education
        #educations
          = f.fields_for :educations do |e|
            = render 'education_fields', :f => e
          .links
            = link_to_add_association 'Add Education', f, :educations
        = render_cell 'tb/form/submit_button', :display
