-if @user.nil?
  %h2 User not found
-else
  - if current_user != nil and @user.id == current_user.id
    - if @user.is_owner?
      = form_for @user.owner, :url => users_owner_path(@user), :html => {:class => "form-horizontal"} do |f|

        = fields_for :owner do |owf|
          %fieldset
            = f.hidden_field :user_id
          
            - with_options :form => owf do |op|
              = op.render_cell 'tb/form/text', :display, :field => :ssn
              = op.render_cell 'tb/form/select', :display, :field =>  :marital_status, :values => ["Single", "Married", "Separated", "Divorced", "Widowed", "Cohabiting", "Civil Union", "Domestic Partnership"]
              = op.render_cell 'tb/form/richtext', :display, :field => :financial_info
              = op.render_cell 'tb/form/richtext', :display, :field => :experience
              = op.render_cell 'tb/form/richtext', :display, :field => :expertise
              = op.render_cell 'tb/form/richtext', :display, :field => :personal_message

            = render_cell 'tb/form/submit_button', :display

    - else
      You are not a founder.
