-if @user.nil?
  %h2 User not found
-else
  - if current_user != nil and @user.id == current_user.id
    - if @user.is_issuer?
      = form_for @user.issuer, :url => users_issuer_path(@user), :html => {:class => 'form-horizontal well'} do |f|

        = render 'shared/errors', :entity => @user.issuer

        = fields_for :issuer do |owf|
          %fieldset
            = f.hidden_field :user_id
          
            - with_options :form => owf do |op|
              = op.render_cell 'tb/form/text', :display, :field => :ssn, :placeholder => "XXX-XX-XXXX"
              = op.render_cell 'tb/form/select', :display, :field =>  :marital_status, :values => ["Single", "Married", "Separated", "Divorced", "Widowed", "Cohabiting", "Civil Union", "Domestic Partnership"]
              = op.render_cell 'tb/form/richtext', :display, :field => :financial_info
              = op.render_cell 'tb/form/richtext', :display, :field => :experience
              = op.render_cell 'tb/form/richtext', :display, :field => :expertise
              = op.render_cell 'tb/form/richtext', :display, :field => :personal_message

            = render_cell 'tb/form/submit_button', :display

    - else
      You are not a founder.
