-if @user.nil?
  %h2 User not found
- else
  - if @current_user != nil and @user.id == @current_user.id

    = form_for @user, :html => {:class => "form-horizontal"} do |f|
      - if @user.is_investor?
        = fields_for :investor do |i|
          %fieldset
            = render_cell :tb_text_field,       :show, :form => i, :field => :ssn
            = render_cell :tb_select_field, :show, :form => i, :field =>  :marital_status, :values => ["Single", "Married", "Separated", "Divorced", "Widowed", "Cohabiting", "Civil Union", "Domestic Partnership"]
            = render_cell :tb_richtext_field, :show, :form => i, :field => :financial_io
            = render_cell :tb_text_field,     :show, :form => i, :field => :spending_habits
            = render_cell :tb_text_field,     :show, :form => i, :field => :income
            = render_cell :tb_text_field,     :show, :form => i, :field => :income_type
            = render_cell :tb_text_field,     :show, :form => i, :field => :net_worth
            = render_cell :tb_text_field,     :show, :form => i, :field => :investor_representations
            = render_cell :tb_text_field,     :show, :form => i, :field => :company
            = render_cell :tb_text_field,     :show, :form => i, :field => :job_title
            = render_cell :tb_richtext_field, :show, :form => i, :field => :experience
            = render_cell :tb_richtext_field, :show, :form => i, :field => :expertise
            = render_cell :tb_richtext_field, :show, :form => i, :field => :personal_message
            = render_cell :tb_submit_button,  :show

      - else
        You are not an investor.