= content_for :sidebar_left do
  %h4
    = image_tag @user.avatar(w:32, h:32) unless @user.avatar.blank?
    = @user.name
  %ul.large-12.small-12.side-nav
    %li{:class => "#{'active' if active == 'basic_info'}"}
      = link_to('Basic Information', edit_user_path)
    %li{:class => "#{'active' if active == 'advanced_info'}"}
      = link_to('Advanced Info', edit_user_path(:tab => 'advanced_info'))
    - if @user.is_investor?
      %li{:class => "#{'active' if active == 'investor_profile'}"}
        = link_to('Investor Profile', edit_user_path(:tab => 'investor_profile'))
    - if @user.is_owner?
      %li{:class => "#{'active' if active == 'founder_profile'}"}
        = link_to('Founder Profile', edit_user_path(:tab => 'founder_profile'))
    %li{:class => "#{'active' if active == 'settings'}"}
      = link_to('Settings', edit_user_path(:tab => 'settings'))
    %li{:class => "#{'active' if active == 'notifications'}"}
      = link_to('Notifications', edit_user_path(:tab => 'notifications'))
    %li{:class => "#{'active' if active == 'bank_account'}"}
      = link_to('Bank Account', edit_user_path(:tab => 'bank_account'))
