- if @user.is_owner?

  - campaign = @user.owner.campaign || Campaign.create(:owner => @user.owner)
  - link = campaign.company ? campaign_company_path(campaign) : new_campaign_company_path(campaign)
  = link_to link do
    %button.btn.btn-primary.btn-lg Manage your campaign

  = render "shared/property_row", :header => "SSN", :value => @user.owner.ssn
  = render "shared/property_row", :header => "Marital Status", :value => @user.owner.marital_status
  = render "shared/property_row", :header => "Financial Info", :value => @user.owner.financial_info
  = render "shared/property_row", :header => "Experience", :value => @user.owner.experience
  = render "shared/property_row", :header => "Expertise", :value => @user.owner.expertise
  = render "shared/property_row", :header => "Personal Message", :value => (raw @user.owner.personal_message)