- if @user.is_owner?

  = link_to company_path(@user.owner.company || Company.create(:owner_id => @user.owner.id)) do
    %button#button.small Manage your company profile

  = render "shared/property_row", :header => "SSN", :value => @user.owner.ssn
  = render "shared/property_row", :header => "Marital Status", :value => @user.owner.marital_status
  = render "shared/property_row", :header => "Financial Info", :value => @user.owner.financial_info
  = render "shared/property_row", :header => "Experience", :value => @user.owner.experience
  = render "shared/property_row", :header => "Expertise", :value => @user.owner.expertise
  = render "shared/property_row", :header => "Personal Message", :value => (raw @user.owner.personal_message)