- if @user.is_investor?
  = render "shared/property_row", :header => "SSN", :value => @user.investor.ssn
  = render "shared/property_row", :header => "Marital Status", :value => @user.investor.marital_status
  = render "shared/property_row", :header => "Financial Info", :value => @user.investor.marital_info
  = render "shared/property_row", :header => "Spending Habits", :value => @user.investor.marital_habits
  = render "shared/property_row", :header => "Income", :value => @user.investor.income
  = render "shared/property_row", :header => "Income Type", :value => @user.investor.income_type
  = render "shared/property_row", :header => "Net Worth", :value => @user.investor.net_worth
  = render "shared/property_row", :header => "Investor Representations", :value => @user.investor.investor_representations
  = render "shared/property_row", :header => "Company", :value => @user.investor.company
  = render "shared/property_row", :header => "Job Title", :value => @user.investor.job_title
  = render "shared/property_row", :header => "Experience", :value => @user.investor.experience
  = render "shared/property_row", :header => "Expertise", :value => @user.investor.expertise
  = render "shared/property_row", :header => "Personal Message", :value => (raw @user.investor.personal_message)
