-if @user.nil?
  %h2 User not found
-else
  - content_for :breadcrumbs do
    %ul.breadcrumbs
      %li= link_to('Home', '/')
      %li.unavailable= 'Users'
      %li.current= link_to(@user.full_name, user_path(@user))

  %h3
    = image_tag @user.avatar(:thumb) unless @user.avatar.blank?
    = @user.full_name

  - if current_user && current_user == @user
    - if current_user.is_owner?
      %p= "Click on the Owner tab to manage your company profile."
    %p= link_to "[edit]", edit_user_path(current_user)

  #tabs
    %ul
      %li= link_to "User", "#tab-user"
      - if @user.is_investor?
        %li= link_to "Investor", "#tab-investor"
      - if @user.is_owner?
        %li= link_to "Owner", "#tab-owner"
    #tab-user
      = render "show_user"
    #tab-investor
      = render "show_investor"
    #tab-owner
      = render "show_owner"

:javascript
  $( "#tabs" ).tabs();