#investment-finalization-body.row
  .col-md-8
    %h4.thank-you Thank you for your interest in investing in:
    = render 'companies/heading'

    - if @investment_finalization.can_finalize?
      %p= link_to "Submit this investment for review", campaign_investment_finalization_submit_for_review_path(@campaign, @investment_finalization), :method => :put, :class => 'btn btn-success btn-large'
    - else
      %h5 To finalize your investment, take the following steps:

    #payment= render_cell 'workflow_step', :display, :label => "Finalize your payment information", :description => "Please verify your payment information.", :link => link_to("Start", edit_campaign_investment_finalization_payment_information_path(@campaign, @investment_finalization), :class => "btn btn-primary"), :status => @investment_finalization.payment_information.try(:status)
    #questionnaire= render_cell 'workflow_step', :display, :label => "Complete our accredited investor questionnaire", :description => "Certify your accredited investor status.", :link => link_to("Start", edit_campaign_investment_finalization_questionnaire_path(@campaign, @investment_finalization), :class => "btn btn-primary"), :status => @investment_finalization.questionnaire.try(:status)
    #contracts= render_cell 'workflow_step', :display, :label => "Sign contracts", :description => "Sign all of the required contracts.", :link => link_to("Start", new_campaign_investment_finalization_contract_doc_group_path(@campaign, @investment_finalization), :class => "btn btn-primary"), :status => @investment_finalization.contract_doc_group.try(:status)
    #subscription= render_cell 'workflow_step', :display, :label => "Confirm your subscription agreement", :description => "Sign up for your subscription agreement.", :link => link_to("Start", new_campaign_investment_finalization_subscription_agreement_path(@campaign, @investment_finalization), :class => "btn btn-primary"), :status => @investment_finalization.subscription_agreement.try(:status)
    #irs= render_cell 'workflow_step', :display, :label => "Submit IRS forms", :description => "Send required tax documents.", :link => link_to("Start", new_campaign_investment_finalization_irs_doc_group_path(@campaign, @investment_finalization), :class => "btn btn-primary"), :status => @investment_finalization.irs_doc_group.try(:status)


  .col-md-4
    = render :partial => 'companies/raise_summary'