%section.featured-unit
  .container
    %h2 Featured in 
    .wrapper-logos
      .row
        .col-xs-5.col-xs-offset-1.col-sm-3.col-sm-offset-0.marg-bottom
          = link_to '#', :target => "_blank", :class => 'wrap-img' do
            = image_tag("featured/img-1.png", :class => 'img-responsive', :height => 48, :title => "Mashable", :alt => "Mashable")
        .col-xs-5.col-xs-offset-1.col-sm-3.col-sm-offset-0.marg-bottom
          = link_to '#', :target => "_blank", :class => 'wrap-img' do
            = image_tag("featured/img-2.png", :class => 'img-responsive', :height => 48, :title => "Forbes", :alt => "Forbes")
        .col-xs-5.col-xs-offset-1.col-sm-3.col-sm-offset-0.marg-bottom
          = link_to '#', :target => "_blank", :class => 'wrap-img' do
            = image_tag("featured/img-3.png", :class => 'img-responsive', :height => 48, :title => "Bloomberg Businessweek", :alt => "Bloomberg Businessweek")
        .col-xs-5.col-xs-offset-1.col-sm-3.col-sm-offset-0.marg-bottom
          = link_to '#', :target => "_blank", :class => 'wrap-img' do
            = image_tag("featured/img-4.png", :class => 'img-responsive', :height => 48, :title => "Betabeat", :alt => "Betabeat")
