= content_for :wrapper_classes, 'no-pad-bottom no-pad-top'
  
.masthead
  .inner
    .container
      .left-info
        %p.triangle-img
          =image_tag("home/triangle-learn-more.png", :class => 'img-responsive')
        %button.btn.btn-lg.btn-primary{:data => {:toggle => "modal", :target => "#home-video"}}
          %i.fa.fa-play-circle
          See Our Video
      /.left-info
/.masthead
          
.modal.fade#home-video
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        = link_to '#', :class => "close", :data => {:dismiss => "modal", :toggle => "tooltip", :placement => "auto right", :container => 'body'}, "aria-hidden" => "true", :title => 'Close' do
          %i.fa.fa-times
        %h4.modal-title 
          See Our Video
      .modal-body
        - unless Rails.env.test?
          .flex-video.widescreen.vimeo.no-marg-bottom
            <!-- Plugin for Vimeo -->
            <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
            %iframe#vimeo_player{:src => '//player.vimeo.com/video/75979909?api=1&player_id=vimeo_player&portrait=0&amp;color=34cb9e', :width => '100%', :height => '500', :frameborder => '0', :webkitallowfullscreen => 'true', :mozallowfullscreen => 'true', :allowfullscreen => 'true'}
    /.modal-content
  /.modal-dialog
/.modal

- unless @reviewable_campaigns.blank?
  #active.marg-bottom
    .container
      .campaign-group-title
        %h3.h1.text-primary
          .row
            .col-xs-9
              Active Campaigns
            .col-xs-3.text-right
              %small.inverse
                = link_to 'View All', '#'
                
        %hr.no-marg-top        
        
      .campaign-row-section
        .row
          - @reviewable_campaigns.each do |campaign|
            .col-sm-6.col-md-4
              = render "campaigns/placard", :campaign => campaign

- unless @live_campaigns.blank?
  #successful.marg-bottom-lg
    .container
      .campaign-group-title
        %h3.h1.text-primary
          .row
            .col-xs-9
              Live Campaigns
            .col-xs-3.text-right
              %small.inverse
                = link_to 'View All', '#'
          
        %hr.no-marg-top
  
      .campaign-row-section
        .row
          - @live_campaigns.each do |campaign|
            .col-sm-6.col-md-4
              = render "campaigns/placard", :campaign => campaign

#babson-video.video-trailer-wrapper
  = link_to '#', :class => 'toggle-volume' do
    %span.mute{:data => {:toggle => "tooltip", :placement => 'left', :container => 'body'}, :title => 'Unmute'}
      %i.fa.fa-volume-off.fa-fw
      %i.fa.fa-times
    %span.unmute{:data => {:toggle => "tooltip", :placement => 'left', :container => 'body'}, :title => 'Mute'}
      %i.fa.fa-volume-up.fa-fw
    
  - unless Rails.env.test?
    %video{:autoplay => 'autoplay', :onended => "window['endBabsonVideo']()", :muted => true}
      %source{:src => video_path('alumvest.mp4'), :type => "video/mp4"}
    .overlay-bg

