.row
  .large-12.small-12.columns
    %ul{ "data-orbit" => "true" }
      %li
        = image_tag 'railsthemes/sample_images/sample3.jpg', :style => "width: 100%"
        .orbit-caption Hello
      %li
        = image_tag 'railsthemes/sample_images/sample4.jpg', :style => "width: 100%"
        .orbit-caption Hello
      %li
        = image_tag 'railsthemes/sample_images/sample2.jpg', :style => "width: 100%"
        .orbit-caption Hello
      %li
        = image_tag 'railsthemes/sample_images/sample1.jpg', :style => "width: 100%"
        .orbit-caption Hello

.row
  %p

.row.roomy
  .large-4.small-4.columns
    = link_to "#" do
      = image_tag 'http://placehold.it/300x150', :class => "th"
    %h4 Section 1
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec elit sapien, non ornare velit. Donec eleifend blandit ipsum, quis tempor nibh non.

  .large-4.small-4.columns
    = link_to "#" do
      = image_tag 'http://placehold.it/300x150', :class => "th"
    %h4 Section 2
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec elit sapien, non ornare velit. Donec eleifend blandit ipsum, quis tempor nibh non.

  .large-4.small-4.columns
    = link_to "#" do
      = image_tag 'http://placehold.it/300x150', :class => "th"
    %h4 Section 3
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec elit sapien, non ornare velit. Donec eleifend blandit ipsum, quis tempor nibh non.

.row
  .small-12.columns
    %h2.centered.eye-catcher Punchy, quick text to draw the audience in immediately.
    %p
      Because, really, what is more meta than describing what you're doing instead of actually doing it.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan tincidunt eleifend.
      Nulla accumsan tincidunt eleifend.
  %hr