= content_for :sidebar_left do
  %h4
    = company_worksheet.company.try(:name) || 'New company'

  %ul.large-12.small-12.side-nav
    %li{:class => "#{'active' if active == :demographic}"}
      - unless entity = company_worksheet.company
        = link_to('Company', new_company_path)
      - else
        = link_to('Company', company_path(entity))
      - unless entity = company_worksheet.team
        = link_to('Team', new_team_path)
      - else
        = link_to('Team', team_path(entity))
    %li{:class => "#{'active' if active == :funding}"}
      - unless entity = company_worksheet.investment_term
        = link_to('Investment Terms', new_investment_term_path)
      - else
        = link_to('Investment Terms', investment_term_path(entity))
    %li{:class => "#{'active' if active == :market}"}
      - unless entity = company_worksheet.market
        = link_to('Market', new_market_path)
      - else
        = link_to('Market', market_path(entity))

  .panel
    %h4 Campaigns
    %ul.large-12.small-12.side-nav
      - company_worksheet.campaigns.each do |campaign|
        %li= link_to campaign.title, edit_company_worksheet_campaign_path(company_worksheet, campaign)
      - if company_worksheet.campaigns
        %hr
      %li
        = link_to('New campaign', new_company_worksheet_campaign_path(company_worksheet))
