.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'dashboard/dashboard_nav', :active => @active
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %h1.text-primary.no-marg-top Change your password
          
          = simple_form_for @user, :url => user_settings_path(@user), html: {class: 'form-horizontal change-password-fr'}, wrapper: :horizontal_form_with_inline_help, validate: true do |f|
            = render 'shared/error_notification', :errors => f.error_notification
            
            = f.input :password, :label => 'New Password'
            = f.input :password_confirmation, :label => 'Verify Password'
            
            .form-group.form-action 
              .col-sm-5.col-sm-offset-3        
                = f.submit 'Save', :class => 'btn btn-primary btn-lg'