= render 'users/side_navigation', :active => @active
= render 'users/header'

#information
  = render 'shared/property_row', :header => 'Password', :value => '(redacted)'
  = render 'shared/property_row', :header => 'Password Confirmation', :value => '(redacted)'
  = button_to 'Edit', edit_user_settings_path(@user), :class => 'btn btn-default btn-xs', :method => :get
