.media.event
  %code.pull-right.nowrap #{@campaign.status}
  .media-body
    %h4.no-marg-top     
      #{@campaign.company.try(:company_name) || 'Unnamed campaign'}
      
      %small
        - if @campaign.company
          = link_to 'Edit', edit_campaign_company_path(@campaign)
          %span
            = '|'
          = link_to 'Display', display_campaign_company_path(@campaign)
        - else
          = link_to 'Edit', new_campaign_company_path(@campaign)
