%span #{@campaign.company.try(:campaign_title) || 'Untitled campaign'}
%span.campaign-live #{@campaign.status}

- if @campaign.company
  = link_to 'Edit', edit_campaign_company_path(@campaign)
  %span
    = '|'
  = link_to 'Display', display_campaign_company_path(@campaign)
- else
  = link_to 'Edit', new_campaign_company_path(@campaign)
