%span #{@campaign.company.try(:campaign_title) || 'Untitled campaign'}
%span.campaign-live #{@campaign.status}
= link_to 'Edit', campaign_company_path(@campaign)
%span
  = '|'
= link_to 'Display', display_campaign_company_path(@campaign)