-#= javascript_include_tag 'http://cdn.embed.ly/jquery.embedly-3.0.5.min.js'

.row
  .col-md-8
    = render 'heading'
    = render 'shared/youtube', :video_url => @company.video_url, :width => 590, :height => 400

    %p= @company.campaign_title
    %p= @company.category.name
    %p= raw @company.company_details
    %p= raw @company.faq

  .col-md-4
    %div{:style => "padding-bottom: 2em;"}
      = button_to 'Begin investment process', new_campaign_investment_finalization_path(@company.campaign), :class => "btn btn-large btn-primary", :method => :get

    = render :partial => 'raise_summary'

    %h5 Company Highlights

    .panel.outline{:style => "padding: 10px 30px 10px 30px"}
      %p= link_to @company.company_url, @company.company_url
      %p= raw @company.company_highlights

  -#:javascript
    $('document').ready(function(){
      $('div#embed').embedly({
        query: { maxwidth: 254, maxheight: 139, wmode: 'transparent' },
        key: '6df201d3d6b8438983bfa7de1d9c8854'
      })
    });