-#= javascript_include_tag 'http://cdn.embed.ly/jquery.embedly-3.0.5.min.js'

.row
  .large-12.small-12.columns
    .row.roomy
      .large-8.columns
        %table
          %tr
            %td
              = image_tag @company.logo(w:100, h:100) unless @company.logo.blank?
            %td
              %h3= @company.company_name
              %p= @company.short_description
              %p= "Founded #{(@company.founded_on_year)}"

        %p= @company.category.name
        %h4= @company.campaign_title
        %p= raw @company.company_details
        = render 'shared/youtube', :video_url => @company.video_url
        %p= raw @company.faq

      .large-4.columns
        .panel
          %div
            %h3 0
            backers
          %br
          %div
            %h3 $0
            invested of
            = "$#{@company.campaign.investment_term.fundraising_amount}"
            goal
          %br
          %div
            %h3= @company.campaign.investment_term.campaign_length
            days left
          %div
            %br
            .progress
              .meter{:style => "width: #{Random.rand(100)}%"}

      .large-4.columns
        .large.success.button{:style => "width: 304px"}
          Invest Now

      .large-4.columns
        .panel
          %p= link_to @company.company_url, @company.company_url
          %p= raw @company.company_highlights

-#:javascript
  $('document').ready(function(){
    $('div#embed').embedly({
      query: { maxwidth: 254, maxheight: 139, wmode: 'transparent' },
      key: '6df201d3d6b8438983bfa7de1d9c8854'
    })
  });