.masthead-campaign
  .container
    - if current_user && current_user.is_admin?
      = render :partial => 'admin_campaign', :locals => {:just_data => false}
    
    - if @is_preview
      .alert.alert-warning.alert-dismissible.marg-bottom-lg
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        This is a preview of the campaign.
        
    = render 'heading' 
          
/ END .masthead-campaign

= render 'campaigns/navigation', :active => :company

.container
  .campaign-content#company-anchor
    .row
      .col-sm-8
        .campaign-left-info
          - if @company.video_url.present?
            .well.well-campaign.video-campaign
              .flex-video.widescreen
                = render 'shared/youtube', :video_url => @company.video_url, :width => 853, :height => 480
          - if @company.slideshare_url.present?
            .well.well-campaign.video-campaign
              .flex-video.widescreen
                = render 'shared/slideshare', :width => 853, :height => 480
          - if @company.home_photo_url.present?
            - unless @company.home_photo_url.blank? # or Rails.env.test?
              .well.well-campaign.video-campaign
                .flex-video.widescreen
                  %iframe{:src => "#{@company.slideshare_embed_url}", :allowfullscreen => "", :frameborder => "0", :height => "480", :width => "853"}
          
          = render 'company_details'
          = render 'company_highlights'
          
          .panel.panel-campaign
            .panel-heading Team Highlights
            .panel-body
              %p= raw @campaign.team.team_highlights
          
      .col-sm-4
        = render :partial => 'raise_summary', :locals => {:just_data => false}     
   
  / END .campaign-content

