-#= javascript_include_tag 'http://cdn.embed.ly/jquery.embedly-3.0.5.min.js'

.row
  .large-12.small-12.columns
    .row.roomy
      .large-8.columns
        = render 'heading'

        %p= @company.category.name
        %h4= @company.campaign_title
        %p= raw @company.company_details
        = render 'shared/youtube', :video_url => @company.video_url
        %p= raw @company.faq

      .large-4.columns
        .panel
          %div#backer_count
            %h3= @campaign.investors.count
            backers
          %br
          %div#amount_invested
            %h3= number_to_currency (investment_sum = @campaign.investments.sum(:amount))
            invested of
            = number_to_currency (fundraising_amount = @company.campaign.investment_term.fundraising_amount)
            goal
          %br
          %div
            %h3= @company.campaign.investment_term.campaign_length
            days left
          %div
            %br
            .progress
              .meter{:style => "width: #{ (investment_sum == 0) ? '1' : (investment_sum / fundraising_amount * 100)}%"}

      - if current_user && current_user.investor
        .large-4.columns
          = link_to 'Invest Now', new_campaign_investment_path(@company.campaign), :class => "large button", :style => "width: 304px; color: white"

      .large-4.columns
        .panel
          %p= link_to @company.company_url, @company.company_url
          %p= raw @company.company_highlights

-#:javascript
  $('document').ready(function(){
    $('div#embed').embedly({
      query: { maxwidth: 254, maxheight: 139, wmode: 'transparent' },
      key: '6df201d3d6b8438983bfa7de1d9c8854'
    })
  });