-#= javascript_include_tag 'http://cdn.embed.ly/jquery.embedly-3.0.5.min.js'

.row
  -# main (left)
  .col-md-8
    = render 'heading'
    = render 'shared/youtube', :video_url => @company.video_url, :width => 590, :height => 400

    %p= @company.campaign_title
    %p= @company.category.name
    %p= raw @company.company_details
    %p= raw @company.faq

  -# right sidebar
  - if true # current_user && current_user.investor
    .col-md-4{:style => "padding-bottom: 2em;"}
      = button_to 'Begin investment process', new_campaign_investment_path(@company.campaign), :class => "btn btn-large btn-primary", :method => :get

  .col-md-4
    %h5 Raise

  .col-md-4.well
    .panel{:style => "padding: 0px 20px 10px 20px"}
      %div#amount_invested
        %h3= number_to_currency (investment_sum = @campaign.investments.sum(:amount))
        raised of
        = number_to_currency (fundraising_amount = @company.campaign.investment_term.fundraising_amount)
        goal
      %div
        .progress.progress-striped.active
          .progress-bar{:role => "progressbar", :style => "width: #{ (investment_sum == 0) ? '1' : (investment_sum /fundraising_amount * 100)}%"}

    .panel{:style => "padding: 10px 20px 0px 20px"}
      %p Time until launch:
      %p
        %b= @company.campaign.humanize_time_left

    .panel{:style => "padding: 10px 20px 10px 20px"}
      %table{:width => "100%"}
        %tr
          %td
            Min Investment:
          %td
            Max Investment:
        %tr
          %td
            $1,000
          %td
            $10,000

    .panel{:style => "padding: 10px 20px 0px 20px"}
      %p Security Type:
      %p
        %b= @company.campaign.investment_term.equity_type

  .col-md-4
    %h5 Engagement

  .col-md-4.well
    .panel{:style => "padding: 10px 20px 0px 20px"}
      %p Commitments:
      %p
        %b= @campaign.investors.count

  .col-md-4
    %h5 Company Highlights

    .panel.outline{:style => "padding: 10px 30px 10px 30px"}
      %p= link_to @company.company_url, @company.company_url
      %p= raw @company.company_highlights

  -#:javascript
    $('document').ready(function(){
      $('div#embed').embedly({
        query: { maxwidth: 254, maxheight: 139, wmode: 'transparent' },
        key: '6df201d3d6b8438983bfa7de1d9c8854'
      })
    });