= simple_form_for [@campaign, @company], :url => campaign_company_path(@campaign), :wrapper => :vertical_form_with_icon, :validate => true do |f|
  = render 'shared/error_notification', :errors => f.error_notification 
  
  = f.hidden_field :campaign_id
  
  .row
    .col-sm-7
      = f.input :company_name, :label => 'Company Name', :icon => 'glyphicon glyphicon-ok form-control-feedback'
  .row
    .col-sm-7
      = f.input :campaign_title, :label => 'Company Title', :icon => 'glyphicon glyphicon-ok form-control-feedback'
    .col-sm-5
      = f.input :company_url, :label => 'Company URL', :placeholder => 'www//...', :icon => 'glyphicon glyphicon-ok form-control-feedback'    
  = f.input :short_description, :label => 'Short Description', :icon => 'glyphicon glyphicon-ok form-control-feedback'
  = f.input :company_highlights, :label => 'Company Highlights', :as => :text, :input_html => {:rows => 3, :class => 'ckeditor'}, :wrapper => :vertical_form
  = f.input :company_details, :label => 'Company Details', :as => :text, :input_html => {:rows => 3, :class => 'ckeditor'}, :wrapper => :vertical_form
  
  .row
    .col-sm-4
      = f.input :founded_on_year, :label => 'Founded on Year', :collection => 1990..Date.today.year, :wrapper => :vertical_form 
    .col-sm-4
      = f.input :ownership_structure, :label => 'Ownership Structure', :collection => ownership_structures, :wrapper => :vertical_form 
    .col-sm-4
      = f.input :category_id, :label => 'Category', :collection => Alumvest::CategoryBase.for_select, :wrapper => :vertical_form 
  
  %hr
  
  = f.input :address_1, :label => 'Address 1', :icon => 'glyphicon glyphicon-ok form-control-feedback'
  = f.input :address_2, :label => 'Address 2', :icon => 'glyphicon glyphicon-ok form-control-feedback'
  .row
    .col-sm-6
      = f.input :city, :label => 'City', :icon => 'glyphicon glyphicon-ok form-control-feedback'
    .col-sm-6
      = f.input :state, :label => 'State', :icon => 'glyphicon glyphicon-ok form-control-feedback'
  .row
    .col-sm-6
      = f.input :zip, :label => 'Postal Code', :icon => 'glyphicon glyphicon-ok form-control-feedback'
    .col-sm-6
      = f.input :phone, :label => 'Phone', :icon => 'glyphicon glyphicon-ok form-control-feedback'
  
  %hr
  
  = f.input :faq, :label => 'FAQ', :as => :text, :input_html => {:rows => 3, :class => 'ckeditor'}, :wrapper => :vertical_form
  
  .row
    .col-sm-6
      = f.input :video_url, :placeholder => '//www.youtube.com/embed/ynwaZZZz6GA', :label => 'Video URL', :icon => 'glyphicon glyphicon-ok form-control-feedback'
    .col-sm-6
      = f.input :slideshare_url, :label => 'Slideshare URL', :icon => 'glyphicon glyphicon-ok form-control-feedback'   
  
  %hr
  
  .form-horizontal
    = f.input :logo_url, :as => :filepicker_image, :label => 'Logotype', :wrapper => :horizontal_form_with_inline_help, :input_html => {:html_options => {:class => 'btn btn-default btn-block'}, :pick_button_html => 'Choose A File...', :delete_button_html => "Remove"}
    = f.input :home_photo_url, :as => :filepicker_image, :label => 'Home Image', :wrapper => :horizontal_form_with_inline_help, :input_html => {:html_options => {:class => 'btn btn-default btn-block'}, :pick_button_html => 'Choose A File...', :delete_button_html => "Remove"}
    = f.input :photo_url, :as => :filepicker_image, :label => 'Placard Image', :wrapper => :horizontal_form_with_inline_help, :input_html => {:html_options => {:class => 'btn btn-default btn-block'}, :pick_button_html => 'Choose A File...', :delete_button_html => "Remove"}
    = f.input :banner_photo_url, :as => :filepicker_image, :label => 'Banner Image', :wrapper => :horizontal_form_with_inline_help, :input_html => {:html_options => {:class => 'btn btn-default btn-block'}, :pick_button_html => 'Choose A File...', :delete_button_html => "Remove"}

  %hr
  
  .form-action
    = f.submit 'Save', :class => 'btn btn-primary btn-lg'
