= semantic_form_for [@company] do |f|

  = render 'shared/errors', :entity => @company

  = f.inputs do
    = f.input :company_name
    = f.input :permalink
    = f.input :logo_url, :as => :formtastic_filepicker_image
    = f.input :url
    = f.input :title
    = f.input :headline
    = f.input :company_introductions, :input_html => { :class => 'ckeditor' }
    = f.input :pitch, :input_html => { :class => 'ckeditor' }

    = f.input :founded_on_year, :as => :select, :collection => Array(1990..Date.today.year)
    = f.input :ownership_structure, :as => :select, :collection => ownership_structures, :include_blank => false
    = f.input :category_id, :as => :select, :collection => Category.order(:name), :include_blank => false

    = f.input :address_1
    = f.input :address_2
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :phone

    = f.input :photo_url, :as => :formtastic_filepicker_image
    = f.input :video_url

    = f.input :highlights, :input_html => { :class => 'ckeditor' }

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Save changes'