.masthead-content
  .media
    .pull-left.logotype-campaign
      = image_tag @company.logo(:w => 149, :h => 149) unless @company.logo.blank?
    .media-body
      %h2.upper.title-campaign.text-lato.text-normal
        = @company.company_name
      %h3.summary-campaign.text-lato.text-book
        = @company.campaign_title
      %h4.school-campaign.text-lato.text-book
        = @company.short_description
      %ul.bottom-info.list-unstyled.text-lato.text-book
        %li 
          = "@Founded #{(@company.founded_on_year)}"
        

