= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to('Home', '/')
    %li.unavailable= 'Users'
    %li= link_to(company.owner.user.full_name, user_path(company.owner.user))
    %li.current= link_to((company.company_name || 'New company'), company_path(company))

= content_for :sidebar_left do
  %h4
    = company.company_name || 'New company'

  %ul.large-12.small-12.side-nav
    %li{:class => "#{'active' if active == :demographic}"}
      = link_to('Company', company_path(company))
    %li{:class => "#{'active' if active == :team}"}
      - unless entity = company.team
        = link_to('Team', new_company_team_path(company))
      - else
        = link_to('Team', company_team_path(company, entity))
    %li{:class => "#{'active' if active == :funding}"}
      - unless entity = company.investment_term
        = link_to('Investment Terms', new_company_investment_term_path(company))
      - else
        = link_to('Investment Terms', company_investment_term_path(company, entity))
    %li{:class => "#{'active' if active == :updates}"}
      = link_to('Updates', company_updates_path(company))