%div.company-raise-summary.company-block
  %div.double-level
    - if can? :view_exact_funding_amount, @campaign
      = number_to_currency (0)
      %p.raise-label Raised
    - else
      = render 'partials/signup_to_see_small'

  %div.double-level
    = number_to_currency @company.campaign.investment_term.try(:fundraising_amount)
    %p.raise-label Goal
  %div.double-level
    = @company.campaign.humanize_time_left
    %p.raise-label Left
  %div.table-term
    %table{:width => "100%"}
      %tr
        %td
          %span.raise-label
            Min Investment:
        %td
          = number_to_currency(@company.campaign.investment_term.try(:min_investment))
      %tr
        %td
          %span.raise-label
            Max Investment:
        %td
          = number_to_currency(@company.campaign.investment_term.try(:max_investment))
  %div
    %span.raise-label Security Type:
    = @company.campaign.investment_term.try(:equity_type)
  %div
    %span.raise-label Commitments:
    = @campaign.investors.count
  %p.progress
    %p.progress-bar.progress-bar-success{:role => "progressbar", :style => "width: #{@campaign.percent_complete_for_display }%"}
  - if current_user and current_user.is_investor?
    - unless just_data || @is_preview
      %p
        = link_to_campaign_investment(current_user.investor, @company.campaign)

- unless just_data

  %div.company-follow.company-block
    %p
      .followers
        Followers:
        - if @campaign.follows.count == 0
          0
        - else
        - @campaign.follows.first(10).each do |f|
          = link_to user_path f.user do
            = image_tag f.user.avatar_small
        - if @campaign.follows.count > 10
          and #{@campaign.follows.count - 10} more
      - if current_user
        - if current_user.following?(@campaign)
          - follow = Alumvest::Follow.new(:campaign => @campaign, :user => current_user)
          = form_for follow, :url => campaign_unfollow_path do |f|
            %fieldset
              = f.hidden_field :campaign_id
              = f.hidden_field :user_id
              %a.btn.btn-unfollow.btn-follow{:name => 'commit', :type => 'submit'}
                %span.glyphicon.glyphicon-minus
                Unfollow this Campaign
        - else
          - follow = Alumvest::Follow.new(:campaign => @campaign, :user => current_user)
          = form_for follow, :url => campaign_follow_path do |f|
            %fieldset
              = f.hidden_field :campaign_id
              = f.hidden_field :user_id
              %a#follow-link.btn.btn-follow{:name => 'commit', :type => 'submit'}
                %span.glyphicon.glyphicon-plus
                Follow this Campaign
