%h5 Raise

.panel.well{:style => "padding: 0px 20px 10px 20px"}
  %div#amount_invested
    %h3= number_to_currency (@campaign.investments.sum(:amount))
    raised of
    = number_to_currency (@company.campaign.investment_term.fundraising_amount)
    goal
  %div
    .progress.progress-striped.active
      .progress-bar{:role => "progressbar", :style => "width: #{@campaign.percent_complete_for_display }%"}

.panel.well{:style => "padding: 10px 20px 0px 20px"}
  %p Time until launch:
  %p
    %b= @company.campaign.humanize_time_left

.panel.well{:style => "padding: 10px 20px 10px 20px"}
  %table{:width => "100%"}
    %tr
      %td
        Min Investment:
      %td
        Max Investment:
    %tr
      %td
        $1,000
      %td
        $10,000

.panel.well{:style => "padding: 10px 20px 0px 20px"}
  %p Security Type:
  %p
    %b= @company.campaign.investment_term.equity_type

%h5 Engagement

.panel.well{:style => "padding: 10px 20px 0px 20px"}
  %p Commitments:
  %p
    %b#investor_count= @campaign.investors.count