.container
  = render 'campaigns/heading'
  = render 'campaigns/navigation', :active => :company
#company-tab.row-bg1
  .container
    = render 'company'
#team-tab.row-bg2
  .container
    = render 'teams/team'
#investment-term-tab.row-bg1
  .container
    = render 'investment_terms/investment_terms'
#update-tab.row-bg2
  .container
    = render 'display_updates/update'
#join-us-tab.row-bg1
  .container
    = render 'display_jobs/job'
#discussion-tab.row-bg2
  .container
    .row
      .col-md-12
        = render 'disqus'

        -#:erb
          <div class='shareaholic-canvas' data-app='recommendations' data-app-id='202898'></div>
:javascript
  $('#company-nav').onePageNav({
    currentClass: 'active',
    changeHash: false,
    scrollSpeed: 750,
    scrollOffset: 30,
    scrollThreshold: 0.5,
    filter: '',
    easing: 'swing',
    begin: function() {
        //I get fired when the animation is starting
    },
    end: function() {
        //I get fired when the animation is ending
    },
    scrollChange: function(currentListItem) {
      //I get fired when you enter a section and I pass the list item of the section
    }
  });
  $(window).scroll(
    function (event) {
      var y = $(this).scrollTop();
      if ( y >= window.navTop ) {
        $('#header').hide()
        $('#company-nav-container').removeClass('container');
        $('#company-nav-container').addClass('nav-fixed');
        $('#company-nav').addClass('container');
      } else {
        $('#company-nav-container').removeClass('nav-fixed');
        $('#company-nav-container').addClass('container');
        $('#company-nav').removeClass('container');
        $('#header').show()
      }
    }
  );
  $(window).load(function() {
    window.navTop = $('#company-nav').offset().top - parseFloat($('#company-nav').css('margin-top').replace(/auto/, 0)) - 60;
  });
