.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'campaigns/management_navigation', :active => :company, :campaign => @campaign
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          = render 'campaigns/title', :active => :company, :campaign => @campaign, :title => 'Campaign'
          
          = simple_form_for [@campaign, @company], :url => campaign_company_path(@campaign), :wrapper => :vertical_form, :html => {:class => 'form-vertical'}, validate: true do |f|
            .row
              .col-sm-6
                = f.input :company_name, :label => 'Company Name', :as => :display
              .col-sm-6
                = f.input :campaign_title, :label => 'Company Title', :as => :display
            .row
              .col-sm-6
                = f.input :company_url, :label => 'Company URL', :as => :display
              .col-sm-6
                = f.input :short_description, :label => 'Short Description', :as => :display
            
            .form-group    
              .panel.panel-default.no-marg-bottom
                .panel-heading 
                  %h4.panel-title.text-default Company Highlights
                .panel-body
                  = f.input :company_highlights, :label => false, :as => :displayhtml
                
            .form-group    
              .panel.panel-default.no-marg-bottom
                .panel-heading 
                  %h4.panel-title.text-default Company Details
                .panel-body
                  = f.input :company_details, :label => false, :as => :displayhtml
                
            .row
              .col-sm-6
                = f.input :founded_on_year, :label => 'Founded on Year', :as => :display
              .col-sm-6
                = f.input :ownership_structure, :label => 'Ownership Structure', :as => :display
            .row
              .col-sm-6
                .form-group
                  %label.control-label Category
                  %div{:class => @company.category.try(:name).blank? ? 'blank form-control-static' : 'form-control-static'}
                    - if @company.category.try(:name).blank?
                      blank
                    - else
                      = @company.category.try(:name)
                
            %hr
            
            .row
              .col-sm-6
                = f.input :address_1, :label => 'Address 1', :as => :display
              .col-sm-6
                = f.input :address_2, :label => 'Address 2', :as => :display            
            .row
              .col-sm-6
                = f.input :city, :label => 'City', :as => :display
              .col-sm-6
                = f.input :state, :label => 'State', :as => :display
            .row
              .col-sm-6
                = f.input :zip, :label => 'Postal Code', :as => :display
              .col-sm-6
                = f.input :phone, :label => 'Phone', :as => :display
            
            %hr
            
            .form-group    
              .panel.panel-default.no-marg-bottom
                .panel-heading 
                  %h4.panel-title.text-default FAQ
                .panel-body
                  = f.input :faq, :label => false, :as => :displayhtml
                
            .form-group    
              %label.control-label Video
              - if @company.video_url.present?
                .flex-video.widescreen.vimeo
                  = render 'shared/youtube', :video_url => @company.video_url, :width => 800, :height => 500
              - else
                .form-control-static.blank
                  blank
            
            .form-group    
              %label.control-label Slideshare
              - if @company.slideshare_url.present?
                .flex-video.widescreen.vimeo
                  = render 'shared/slideshare', :slideshare_embed_url => @company.slideshare_embed_url, :width => 800, :height => 500
              - else
                .form-control-static.blank
                  blank
                  
            %hr
            
            .form-group    
              %label.control-label Logotype
              - unless @company.logo.blank?
                .form-control-static
                  = image_tag(@company.logo(:w =>32, :h =>32))
              - else
                .form-control-static.blank
                  blank
                  
            .form-group    
              %label.control-label Home Image
              - if @company.home_photo_url.present?
                .form-control-static
                  = image_tag(@company.home_photo_display)
              - else
                .form-control-static.blank
                  blank
            
            .form-group    
              %label.control-label Placard Image
              - unless @company.photo.blank?
                .form-control-static
                  = image_tag(@company.photo(:w => 64, :h => 64))
              - else
                .form-control-static.blank
                  blank
                  
            .form-group    
              %label.control-label Banner Image
              - unless @company.banner_photo.blank?
                .form-control-static
                  = image_tag(@company.banner_photo(:w => 64, :h => 64))
              - else
                .form-control-static.blank
                  blank
                  
            %hr
            
            .form-action
              .btn-toolbar.hidden-xs
                - if @company.draft?
                  = link_to 'Complete', check_for_completeness_campaign_company_path(@campaign), :class => 'btn btn-success btn-lg'
                = link_to 'Preview', preview_campaign_company_path(@campaign), :class => 'btn btn-default btn-lg', :target => (not Rails.env.test?) ? '_blank' : ''
                - unless @campaign.published?
                  = link_to 'Edit', edit_campaign_company_path(@campaign), :class => 'btn btn-link btn-lg' 
              .btn-toolbar.hidden-sm.hidden-md.hidden-lg
                - if @company.draft?
                  = link_to 'Complete', check_for_completeness_campaign_company_path(@campaign), :class => 'btn btn-success btn-xs'
                = link_to preview_campaign_company_path(@campaign), :class => 'btn btn-default btn-xs', :target => (not Rails.env.test?) ? '_blank' : '' do
                  - if @company.draft?
                    %i.fa.fa-eye
                  - else
                    Preview
                - unless @campaign.published?
                  = link_to 'Edit', edit_campaign_company_path(@campaign), :class => 'btn btn-link btn-xs' 
           
