= semantic_form_for [@cbf] do |f|
  = f.inputs do
    = f.input :name
    = f.input :logo_url #, :as => :formtastic_filepicker_image
    = f.input :url
    = f.input :address_1
    = f.input :address_2
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :phone
    = f.input :founded_on #, :input_html => {:class => 'datePicker'}
    = f.input :summary
    = f.input :category_id, :as => :select, :collection => Category.order(:name), :include_blank => false
    = f.input :industry_id, :as => :select, :collection => Industry.order(:name), :include_blank => false

  = f.actions do
    = f.action :submit, :as => :input