- content_for :wrapper_classes, 'no-pad-top no-pad-bottom'

.masthead-campaign
  .container
    .masthead-content
      .media
        .pull-left.logotype-campaign
          = image_tag('campaign/logotype.jpg', :width => 149)
        .media-body
          %h2.upper.title-campaign.text-lato.text-normal Rocking App
          %h3.summary-campaign.text-lato.text-book Connecting Doctors and Health App
          %h4.school-campaign.text-lato.text-book Universties : New york University, Columbia University, Harvard University
          %ul.bottom-info.list-unstyled.text-lato.text-book
            %li 
              = "Lead Investors : "
              = link_to 'Lynn Chen', '#'
              = ","
              = link_to 'Sasha', '#'
              = "," 
              = link_to 'Alan Hua', '#'
              = "."
            %li Locations : New youk, Columbia, Canada
/ END .masthead-campaign

.wrapper-navbar-campaign
  .navbar-campaign{:data => {:spy => "affix", 'offset-top' => "360"}}
    %nav.navbar
      .container
        %ul.nav.navbar-nav.text-open-sans.navbar-left.strong 
          %li.active.col-xs-2
            = link_to '#company-anchor' do
              %span.top-icon
                %i.fa.fa-th
              %span.bottom-text Company
          %li.col-xs-2
            = link_to '#team-anchor' do
              %span.top-icon
                %i.fa.fa-users
              %span.bottom-text Team
          %li.col-xs-2
            = link_to '#terms-anchor' do
              %span.top-icon
                %i.fa.fa-file-text-o
              %span.bottom-text 
                %span.visible-sm-inline.visible-md-inline.visible-lg-inline Investment 
                Terms
          %li.col-xs-2
            = link_to '#faqs-anchor' do
              %span.top-icon
                %i.fa.fa-question
              %span.bottom-text Faq’s
          %li.col-xs-2
            = link_to '#updates-anchor' do
              %span.top-icon
                %i.fa.fa-repeat
              %span.bottom-text Updates
          %li.col-xs-2
            = link_to '#join-anchor' do
              %span.top-icon
                %i.fa.fa-user
                %i.fa.fa-plus
              %span.bottom-text Join Us
        %ul.nav.navbar-nav.navbar-right.text-open-sans.strong.visible-sm-block.visible-md-block.visible-lg-block
          %li
            %p.navbar-text
              %i.fa.fa-share-alt
              Share<span class="visible-md-inline visible-lg-inline"> it on</span> :
          %li
            = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Share on Facebook" do
              %i.fa.fa-facebook-square
          %li
            = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Share on Twitter" do
              %i.fa.fa-twitter-square
          %li
            = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Share on LinkedIn" do
              %i.fa.fa-linkedin-square
                  
  / END .navbar-campaign

.container
  .campaign-content#company-anchor
    .row
      .col-sm-8
        .campaign-left-info
          .well.well-campaign.video-campaign
            .flex-video.widescreen
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "//www.youtube.com/embed/V60xEKf8DQM", :width => "853"}
          .panel.panel-campaign
            .panel-heading Elevator Pitch
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading Key Highlights
            .panel-body
              %ul
                %li Nsectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Nsectetur adipisicing elit, sed sed do eiusmod incididunt
                %li Nsectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Nsectetur adipisicing elit, sed sed do eiusmod incididunt
                %li Nsectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Nsectetur adipisicing elit, sed sed do eiusmod incididunt
                %li Nsectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Nsectetur adipisicing elit, sed sed do eiusmod incididunt 
          .panel.panel-campaign
            .panel-heading Product Service Description
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading Business Model
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading Addressable Market
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading Competition
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading User Customer Testimonials
            .panel-body
              %ol
                %li "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  - Mark
                %li "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  -  James Cameron 
          .panel.panel-campaign
            .panel-heading Investor Details
            .panel-body
              %ol
                %li "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  - Mark
                %li "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  -  James Cameron 
          .panel.panel-campaign
            .panel-heading Press Coverage
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading Planned Use of Proceeds
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading Risks & Challenges
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel.panel-campaign
            .panel-heading Addressable Market
            .panel-body
              %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          
      .col-sm-4
        .campaign-right-info
          .well.well-campaign.campaign-summary-info.text-lato
            -#
              .well-heading 
                %h5 23 people invested
            .well-heading.gray-heading 
              %h5 No of people invested
            .well-body.no-pad-top
              .campaign-raise-summary
                %ul.list-unstyled.no-marg-bottom
                  %li
                    $120000
                    %strong 
                      %i.glyphicon.glyphicon-ok-sign
                      Goal
                  %li
                    $5000000
                    %strong 
                      %i.glyphicon.glyphicon-flag
                      from campaign start Left
                  %li
                    3 Days
                    %strong 
                      %i.glyphicon.glyphicon-time
                      Time Left
              .row-text.campaign-investment.clearfix
                .pull-left
                  Min
                  %br
                  Investment
                  .price-text $10.00
                .pull-right
                  Max
                  %br
                  Investment
                  .price-text $100.00
              .row-text.gray-row.strong
                Security Type: Convertible Note 
              .row-text.strong
                Commitments: 0
              .campaign-progress
                .media
                  .pull-right
                    70%
                  .media-body
                    .progress
                      .progress-bar.progress-bar-primary{:role => "progressbar", :aria => {:valuenow => "70", :valuemin => "0", :valuemax => "100"}, :style => "width: 70%;"}
                        %span.sr-only 70% Complete
              = link_to 'Invest now', '#', :class => 'btn btn-primary btn-lg upper btn-block'
          / END .campaign-summary-info
          
          .well.well-campaign
            .well-heading 
              %h5 Company Info
            .well-body
              .campaign-info
                %ul.list-unstyled
                  %li.top-info
                    .media
                      .pull-left
                        = image_tag('noavatar.gif', :width => '60')
                      .media-body
                        %h6
                          = link_to 'Kevin Boye', '#'
                        %p CEO
                        %p.location Location : Newyork
                  %li
                    .media
                      .pull-left
                        Website
                      .media-body
                        = link_to 'www.medicomates.com', '#', :target => '_blank'
                  %li
                    .media
                      .pull-left
                        Rewards
                      .media-body
                        $1500
          / END .campaign-info
          
          .well.well-campaign
            .well-heading 
              %h5 Key Highlights
            .well-body
              %ul
                %li Nsectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. 
                %li Nsectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. 
                %li Nsectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. 
          / END .campaign-key-highlights
          
          .well.well-campaign
            .well-heading 
              %h5 54 of people followers
            .well-body
              .campaign-followers
                %ul.list-unstyled
                  %li
                    = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Kevin Boye" do
                      = image_tag('noavatar.gif', :width => '40')
                  %li
                    = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Kevin Boye" do
                      = image_tag('noavatar.gif', :width => '40')
                  %li
                    = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Kevin Boye" do
                      = image_tag('noavatar.gif', :width => '40')
                  %li
                    = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Kevin Boye" do
                      = image_tag('noavatar.gif', :width => '40')
                  %li
                    = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Kevin Boye" do
                      = image_tag('noavatar.gif', :width => '40')
                  %li
                    = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Kevin Boye" do
                      = image_tag('noavatar.gif', :width => '40')
              = link_to 'Follow', '#', :class => 'btn btn-success btn-lg upper btn-block'
          / END .campaign-followers
  / END .campaign-content

- content_for :inside_container_section do
  .campaign-team.wrapper-white-box#team-anchor
    .container
      %h2.separator-line.separator-gray.separator-arrows
        %span Our Team  
      
      .team-list
        .row
          .col-sm-6.col-md-4.col-lg-3.clearfix
            .team-item
              .team-heading
                .pentagon-image
                  = link_to '#' do
                    %span.mask
                    = image_tag('team/img1-148x148.jpg', :width => 148, :height => 148)
              .team-body
                %h4.name-person
                  = link_to 'Lynn Chen', '#'
                %p.title-person CEO
                %p.desc-person Lorem Ipsum has been the industry's standard dummy text ever 
                .soc-list
                  %ul.list-inline
                    %li.soc-facebook 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-facebook-square
                    %li.soc-twitter 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-twitter-square
                    %li.soc-linkedin 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-linkedin-square
              .team-footer
                = link_to '#', :class => 'btn btn-primary btn-md btn-block' do
                  %i.fa.fa-play
                  Video of the founder!
          
          .col-sm-6.col-md-4.col-lg-3.clearfix
            .team-item
              .team-heading
                .pentagon-image
                  = link_to '#' do
                    %span.mask
                    = image_tag('team/img2-148x148.jpg', :width => 148, :height => 148)
              .team-body
                %h4.name-person
                  = link_to 'Rebecca Thomson', '#'
                %p.title-person CEO
                %p.desc-person Lorem Ipsum has been the industry's standard dummy text ever 
                .soc-list
                  %ul.list-inline
                    %li.soc-facebook 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-facebook-square
                    %li.soc-twitter 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-twitter-square
                    %li.soc-linkedin 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-linkedin-square
              .team-footer
                = link_to '#', :class => 'btn btn-primary btn-md btn-block' do
                  %i.fa.fa-play
                  Video of the founder!
          
          / After Each 2 items (middle screen)
          .clearfix.visible-sm-block
          
          .col-sm-6.col-md-4.col-lg-3.clearfix
            .team-item
              .team-heading
                .pentagon-image
                  = link_to '#' do
                    %span.mask
                    = image_tag('team/img3-148x148.jpg', :width => 148, :height => 148)
              .team-body
                %h4.name-person
                  = link_to 'Ryan', '#'
                %p.title-person CEO
                %p.desc-person Lorem Ipsum has been the industry's standard dummy text ever 
                .soc-list
                  %ul.list-inline
                    %li.soc-facebook 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-facebook-square
                    %li.soc-twitter 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-twitter-square
                    %li.soc-linkedin 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-linkedin-square
              .team-footer
                = link_to '#', :class => 'btn btn-primary btn-md btn-block' do
                  %i.fa.fa-play
                  Video of the founder!
                  
          / After Each 3 items (middle screen)
          .clearfix.visible-md-block
              
          .col-sm-6.col-md-4.col-lg-3.clearfix
            .team-item
              .team-heading
                .pentagon-image
                  = link_to '#' do
                    %span.mask
                    = image_tag('team/img4-148x148.jpg', :width => 148, :height => 148)
              .team-body
                %h4.name-person
                  = link_to 'Linpin', '#'
                %p.title-person CEO
                %p.desc-person Lorem Ipsum has been the industry's standard dummy text ever 
                .soc-list
                  %ul.list-inline
                    %li.soc-facebook 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-facebook-square
                    %li.soc-twitter 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-twitter-square
                    %li.soc-linkedin 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-linkedin-square
              .team-footer
                = link_to '#', :class => 'btn btn-primary btn-md btn-block' do
                  %i.fa.fa-play
                  Video of the founder!
          
          
          / After Each 2 items (middle screen)
          .clearfix.visible-sm-block
          
          / After Each 4 items
          .clearfix.visible-lg-block
          
          .col-sm-6.col-md-4.col-lg-3.clearfix
            .team-item
              .team-heading
                .pentagon-image
                  = link_to '#' do
                    %span.mask
                    = image_tag('team/img2-148x148.jpg', :width => 148, :height => 148)
              .team-body
                %h4.name-person
                  = link_to 'Rebecca Thomson', '#'
                %p.title-person CEO
                %p.desc-person Lorem Ipsum has been the industry's standard dummy text ever 
                .soc-list
                  %ul.list-inline
                    %li.soc-facebook 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-facebook-square
                    %li.soc-twitter 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-twitter-square
                    %li.soc-linkedin 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-linkedin-square
              .team-footer
                = link_to '#', :class => 'btn btn-primary btn-md btn-block' do
                  %i.fa.fa-play
                  Video of the founder!
          
          .col-sm-6.col-md-4.col-lg-3.clearfix
            .team-item
              .team-heading
                .pentagon-image
                  = link_to '#' do
                    %span.mask
                    = image_tag('team/img3-148x148.jpg', :width => 148, :height => 148)
              .team-body
                %h4.name-person
                  = link_to 'Ryan', '#'
                %p.title-person CEO
                %p.desc-person Lorem Ipsum has been the industry's standard dummy text ever 
                .soc-list
                  %ul.list-inline
                    %li.soc-facebook 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-facebook-square
                    %li.soc-twitter 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-twitter-square
                    %li.soc-linkedin 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-linkedin-square
              .team-footer
                = link_to '#', :class => 'btn btn-primary btn-md btn-block' do
                  %i.fa.fa-play
                  Video of the founder!
          
          / After Each 2 items (middle screen)
          .clearfix.visible-sm-block
          
          / After Each 3 items (middle screen)
          .clearfix.visible-md-block
          
          .col-sm-6.col-md-4.col-lg-3.clearfix
            .team-item
              .team-heading
                .pentagon-image
                  = link_to '#' do
                    %span.mask
                    = image_tag('team/img4-148x148.jpg', :width => 148, :height => 148)
              .team-body
                %h4.name-person
                  = link_to 'Linpin', '#'
                %p.title-person CEO
                %p.desc-person Lorem Ipsum has been the industry's standard dummy text ever 
                .soc-list
                  %ul.list-inline
                    %li.soc-facebook 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-facebook-square
                    %li.soc-twitter 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-twitter-square
                    %li.soc-linkedin 
                      = link_to '#', :target => '_blank' do
                        %i.fa.fa-linkedin-square
              .team-footer
                = link_to '#', :class => 'btn btn-primary btn-md btn-block' do
                  %i.fa.fa-play
                  Video of the founder!
  / END .campaign-team
  
  .campaign-faq#faqs-anchor
    .container
      .row
        .col-lg-11.col-centered
          %h2.text-roboto.bold FAQ's       
          
          .accordion-list
            .panel-group#faq-list
              .panel.active
                .panel-heading
                  .panel-title 
                    = link_to '#faq-0', :data => {:parent => '#faq-list', :toggle => 'collapse'} do
                      %i.fa.fa-plus.fa-fw
                      %i.fa.fa-minus.fa-fw
                      Why did you pick this idea to work on?
                .panel-collapse.collapse.in#faq-0
                  .panel-body
                    .inner
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .panel
                .panel-heading
                  .panel-title 
                    = link_to '#faq-1', :data => {:parent => '#faq-list', :toggle => 'collapse'} do
                      %i.fa.fa-plus.fa-fw
                      %i.fa.fa-minus.fa-fw
                      Do you have domain expertise in this area?
                .panel-collapse.collapse#faq-1
                  .panel-body
                    .inner
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .panel
                .panel-heading
                  .panel-title 
                    = link_to '#faq-2', :data => {:parent => '#faq-list', :toggle => 'collapse'} do
                      %i.fa.fa-plus.fa-fw
                      %i.fa.fa-minus.fa-fw
                      What's different about Zenefits?
                .panel-collapse.collapse#faq-2
                  .panel-body
                    .inner
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .panel
                .panel-heading
                  .panel-title 
                    = link_to '#faq-3', :data => {:parent => '#faq-list', :toggle => 'collapse'} do
                      %i.fa.fa-plus.fa-fw
                      %i.fa.fa-minus.fa-fw
                      Who are your competitors?
                .panel-collapse.collapse#faq-3
                  .panel-body
                    .inner
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  / END .campaign-faq    
  
  .campaign-ask
    .container
      .row
        .col-lg-11.col-centered
          %h2.text-roboto.bold Ask a Question
          
          = simple_form_for :fake_ask_question_form, :url => '', :html => {:class => 'form-vertical ask-question-fr'}, :wrapper => :vertical_form, :validate => true do |f|
            = render 'shared/error_notification', :errors => f.error_notification
            
            = f.input :question, :wrapper => :vertical_input_group, :label => false do
              = f.input_field :question, :class => "form-control input-lg", :placeholder => 'Type your question here!'
              .input-group-btn
                %button{:class => "btn btn-primary btn-lg", :type => "button"} Submit
  / END .campaign-ask
  
  .campaign-updates#updates-anchor              
    .container
      %h2.separator-line.separator-gray.separator-arrows
        %span Updates  
      
      .list-posts
        %p.lead.text-center.text-open-sans There are no updates for this campaign.  
        
      %h2.separator-line.separator-gray.separator-arrows
        %span Jobs
      
      .list-posts  
        %p.lead.text-center.text-open-sans There are no jobs for this campaign. 
  / END .campaign-updates
  
  .campaign-press-release
    .container
      %h2.separator-line.separator-gray.separator-arrows
        %span Press Release
        
      .list-posts
        .row
          .col-sm-6.col-lg-6
            .post-item
              %h2
                %strong Medicare 
                Startup on 
                %br
                Tech Chrunch
              %p.text-date Octorber 10th 2013
              .text-desc
                %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."  
            .post-item
              %h2
                %strong Medicare 
                Startup on 
                %br
                Tech Chrunch
              %p.text-date Octorber 10th 2013
              .text-desc
                %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          
          .col-sm-6.col-lg-6
            .post-item
              %h2
                %strong Medicare 
                Startup on 
                %br
                Tech Chrunch
              %p.text-date Octorber 10th 2013
              .text-desc
                %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."   
            .post-item
              %h2
                %strong Medicare 
                Startup on 
                %br
                Tech Chrunch
              %p.text-date Octorber 10th 2013
              .text-desc
                %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      / END .list-posts
  / END .campaign-press-release

- content_for :scripts do
  :javascript
    $('body').scrollspy({ target: '.navbar-campaign' });