- content_for :body_classes, 'how-it-works-body loader-open'
- content_for :without_footer, true

.how-it-works-pages.investors
  %section.page-content.first{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a0', :id => 'trigger0'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/how-it-works-process'
    / END .nav-steps
          
    .inner-content{"data-stellar-offset-parent" => "true"}
      .container
        .clearfix
          
          .signup-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "1"}
                  = image_tag('how-it-works/investors/step-01-img.png')
              .media-body.fade{"data-stellar-ratio" => "1"}
                .h1.no-marg-top Sign-Up & Create Your Investor Profile
                .well.well-blue.round
                  %ol
                    %li Sign up for an Investor Account
                    %li Tell us which schools you attended & degrees achieved
                    %li Now or later officially confirm whether you are an “accredited investor” through one of our 3rd party providers
                %p We encourage you to register with us through LinkedIn as this will give you the best user experience going forward and will allow you to showcase your professional experience and your school affiliations and better connect with others Investors and Founders.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back.fade{"data-stellar-ratio" => "0.1"}
      %div
    
    .bg-building-middle.fade{"data-stellar-ratio" => "0.2"}
      %div
    
    .bg-building-front.fade{"data-stellar-ratio" => "0.3"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.current.first= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a1', :id => 'trigger1'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-01-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top Sign-Up & Create Your Investor Profile
                .well.well-blue.round
                  %ol
                    %li Sign up for an Investor Account
                    %li Tell us which schools you attended & degrees achieved
                    %li Now or later officially confirm whether you are an “accredited investor” through one of our 3rd party providers
                %p We encourage you to register with us through LinkedIn as this will give you the best user experience going forward and will allow you to showcase your professional experience and your school affiliations and better connect with others Investors and Founders.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back.fade{"data-stellar-ratio" => "0.1"}
      %div
    
    .bg-building-middle.fade{"data-stellar-ratio" => "0.2"}
      %div
    
    .bg-building-front.fade{"data-stellar-ratio" => "0.3"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.current= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a2', :id => 'trigger2'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-01-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top Sign-Up & Create Your Investor Profile
                .well.well-blue.round
                  %ol
                    %li Sign up for an Investor Account
                    %li Tell us which schools you attended & degrees achieved
                    %li Now or later officially confirm whether you are an “accredited investor” through one of our 3rd party providers
                %p We encourage you to register with us through LinkedIn as this will give you the best user experience going forward and will allow you to showcase your professional experience and your school affiliations and better connect with others Investors and Founders.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back.fade{"data-stellar-ratio" => "0.1"}
      %div
    
    .bg-building-middle.fade{"data-stellar-ratio" => "0.2"}
      %div
    
    .bg-building-front.fade{"data-stellar-ratio" => "0.3"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.current= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a3', :id => 'trigger3'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-01-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top Sign-Up & Create Your Investor Profile
                .well.well-blue.round
                  %ol
                    %li Sign up for an Investor Account
                    %li Tell us which schools you attended & degrees achieved
                    %li Now or later officially confirm whether you are an “accredited investor” through one of our 3rd party providers
                %p We encourage you to register with us through LinkedIn as this will give you the best user experience going forward and will allow you to showcase your professional experience and your school affiliations and better connect with others Investors and Founders.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back.fade{"data-stellar-ratio" => "0.1"}
      %div
    
    .bg-building-middle.fade{"data-stellar-ratio" => "0.2"}
      %div
    
    .bg-building-front.fade{"data-stellar-ratio" => "0.3"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.passed= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li.current= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a4', :id => 'trigger4'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-01-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top Sign-Up & Create Your Investor Profile
                .well.well-blue.round
                  %ol
                    %li Sign up for an Investor Account
                    %li Tell us which schools you attended & degrees achieved
                    %li Now or later officially confirm whether you are an “accredited investor” through one of our 3rd party providers
                %p We encourage you to register with us through LinkedIn as this will give you the best user experience going forward and will allow you to showcase your professional experience and your school affiliations and better connect with others Investors and Founders.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back.fade{"data-stellar-ratio" => "0.1"}
      %div
    
    .bg-building-middle.fade{"data-stellar-ratio" => "0.2"}
      %div
    
    .bg-building-front.fade{"data-stellar-ratio" => "0.3"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.passed= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li.passed= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li.current= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content.last{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a5', :id => 'trigger5'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-01-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top Sign-Up & Create Your Investor Profile
                .well.well-blue.round
                  %ol
                    %li Sign up for an Investor Account
                    %li Tell us which schools you attended & degrees achieved
                    %li Now or later officially confirm whether you are an “accredited investor” through one of our 3rd party providers
                %p We encourage you to register with us through LinkedIn as this will give you the best user experience going forward and will allow you to showcase your professional experience and your school affiliations and better connect with others Investors and Founders.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back.fade{"data-stellar-ratio" => "0.1"}
      %div
    
    .bg-building-middle.fade{"data-stellar-ratio" => "0.2"}
      %div
    
    .bg-building-front.fade{"data-stellar-ratio" => "0.3"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.passed= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li.passed= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li.passed= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li.current= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
      / END .nav-pages
        
  / END .page-content
  
  .footer
    .container  
      = render :partial => 'layouts/copyright'

- content_for :loader do      
  / Loader Indicator
  #loader.loader.fade.in
    %h2.loader-text.fade.in Loaging&hellip;
    .loader-corner.loading
    .loader-backdrop.fade.in

- content_for :scripts do
  :javascript
    $.stellar({
      horizontalScrolling: false,
      verticalScrolling: true,
      positionProperty: 'position',
      responsive: true,
      hideDistantElements: true,
      hideElement: function($elem) { 
        $elem.removeClass('in');
      },
      showElement: function($elem) { 
        $elem.addClass('in'); 
      }
    });