- content_for :body_classes, 'how-it-works-body loader-open'
- content_for :without_footer, true

.how-it-works-pages.investors
  %section.page-content.first{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a0', :id => 'trigger0'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/about/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/about/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/about/how-it-works-process'
    / END .nav-steps
          
    .inner-content{"data-stellar-offset-parent" => "true"}
      .container
        .clearfix
          
          .signup-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "1"}
                  = image_tag('how-it-works/investors/step-01-img.png')
              .media-body.fade{"data-stellar-ratio" => "1"}
                .h1.no-marg-top Sign-Up & Create Your Investor Profile
                .well.well-blue.round
                  %ol
                    %li Sign up for an Investor Account
                    %li Tell us which schools you attended & degrees achieved
                    %li Now or later officially confirm whether you are an “accredited investor” through one of our 3rd party providers
                %p.text-justify We encourage you to register with us through LinkedIn as this will give you the best user experience going forward and will allow you to showcase your professional experience and your school affiliations and better connect with others Investors and Founders.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back{"data-stellar-ratio" => "1.2"}
      %div
    
    .bg-building-middle{"data-stellar-ratio" => "1.1"}
      %div
    
    .bg-building-front{"data-stellar-ratio" => "1"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.current.first= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a1', :id => 'trigger1'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/about/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/about/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/about/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .browse-investors-content
            .media
              .pull-right
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-02-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top Browse Startups
                %p.text-justify Search for Startups founded by your alumni by clicking on Explore Campaigns & selecting your school from the drop down menu. You can also filter by industry to find companies that may interest you. The more information you share with us about yourself & your investor preferences on your Investor dashboard, the more we will focus on getting you investment opportunities tailored to what you like
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back.overlay{"data-stellar-ratio" => "1.2"}
      %div
    
    .bg-building-middle.overlay{"data-stellar-ratio" => "1.1"}
      %div
    
    .bg-building-front.overlay{"data-stellar-ratio" => "1"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.current= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a2', :id => 'trigger2'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/about/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/about/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/about/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content.get-exclusive-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-03-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top 
                  Get Exclusive Access &
                  %br
                  Invest In Someone Like You
                %p.text-justify As a proud alum of your school, we believe that you should be the 1st to get access to Startups affiliated with your school. Investors who are alumni of the Founders have priority to invest in the Startups founded by their alumni, before the funding round opens to other investors. Investing in your alumni not only supports your school but also allows you to Invest In Someone Like You!
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back{"data-stellar-ratio" => "1.2"}
      %div
    
    .bg-building-middle{"data-stellar-ratio" => "1.1"}
      %div
    
    .bg-building-front{"data-stellar-ratio" => "1"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.current= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a3', :id => 'trigger3'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/about/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/about/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/about/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content.wisdom-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-04-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top 
                  Use the Wisdom of the Crowd and
                  %br
                  Get to Know the Founders
                %p.text-justify We are creating a trusted affiliate network where Investors can use the "Alumni Effect" to easily find alumni co-Investors or someone who knows the Founders. If you click on a Founder’s profile under “Our Team” tab & go to a Founder’s LinkedIn profile, you can see your connection to the Founder. For many Founders, you can also watch their personal videos & really get to know what drives them to succeed.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back{"data-stellar-ratio" => "1.2"}
      %div
    
    .bg-building-middle{"data-stellar-ratio" => "1.1"}
      %div
    
    .bg-building-front{"data-stellar-ratio" => "1"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.passed= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li.current= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a4', :id => 'trigger4'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/about/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/about/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/about/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .review-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-05-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top 
                  We Make It Easy to Review and
                  %br
                  Invest In Startups You Can Relate To
                %p.text-justify If you see a Startup you are interested in, you can click on it to watch the Startup’s demo video (or view its pitch deck) & review a clear summary of what the Startup is all about. You can also click on the “Our Team” tab to learn more about the Startup’sFounders & team. You can also ask Startup questions under the “Discussions” tab of the campaign page.
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back{"data-stellar-ratio" => "1.2"}
      %div
    
    .bg-building-middle{"data-stellar-ratio" => "1.1"}
      %div
    
    .bg-building-front{"data-stellar-ratio" => "1"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.passed= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li.passed= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li.current= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
          %li.next
            = link_to '#trigger0', :class => 'next' do
              %i.fa.fa-angle-double-down
      / END .nav-pages
        
  / END .page-content
  
  %section.page-content.last{"data-stellar-offset-parent" => "true"}
    = link_to '', '', :class => 'trigger', :name => 'a5', :id => 'trigger5'

    .nav-steps.show
      .container
        .row
          .col-sm-4
            = link_to 'Startups', '/about/how-it-works'
          .col-sm-4
            = link_to 'Investors', '/about/how-it-works-investors', :class => 'active'
          .col-sm-4
            = link_to 'Process', '/about/how-it-works-process'
    / END .nav-steps
          
    .inner-content
      .container
        .clearfix
          
          .signup-investors-content.communities-investors-content
            .media
              .pull-left
                .wrapper-img.fade{"data-stellar-ratio" => "3"}
                  = image_tag('how-it-works/investors/step-06-img.png')
              .media-body.fade{"data-stellar-ratio" => "8"}
                .h1.no-marg-top 
                  Our Alumni Communities Are
                  %br
                  More Than Just $"
                %p.text-justify In addition to cash, Startups often need help building their businesses& establishing relationships. If you can, we encourage you to also offer assistance to Startups, such as mentoring, professional advice or introductions that could be potentially helpful to them. Your help may make the startup the next big success!
    / END .inner-content
    
    .bg-blue{"data-stellar-ratio" => "1"}
    
    .bg-building-back{"data-stellar-ratio" => "1.2"}
      %div
    
    .bg-building-middle{"data-stellar-ratio" => "1.1"}
      %div
    
    .bg-building-front{"data-stellar-ratio" => "1"} 
      %div
    
    .container
      %nav.nav-pages.show
        %ul.list-unstyled
          %li.prev
            = link_to '#trigger0', :class => 'prev' do
              %i.fa.fa-angle-double-up
          %li.first.passed= link_to '1', '#trigger0', :class => 'bullet', :rel => 0, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Sign Up'
          %li.passed= link_to '2', '#trigger1', :class => 'bullet', :rel => 1, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Browse'
          %li.passed= link_to '3', '#trigger2', :class => 'bullet', :rel => 2, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Get Exclusive'
          %li.passed= link_to '4', '#trigger3', :class => 'bullet', :rel => 3, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Wisdom'
          %li.passed= link_to '5', '#trigger4', :class => 'bullet', :rel => 4, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Review and Invest'
          %li.current= link_to '6', '#trigger5', :class => 'bullet', :rel => 5, :data => {:toggle => 'tooltip', :placement => 'right', :container => 'body'}, :title => 'Alumni Communities'
      / END .nav-pages
        
  / END .page-content
  
  .footer
    .container  
      = render :partial => 'layouts/copyright'

- content_for :loader do      
  / Loader Indicator
  #loader.loader.fade.in
    %h2.loader-text.fade.in Loaging&hellip;
    .loader-corner.loading
    .loader-backdrop.fade.in

- content_for :scripts do
  :javascript
    $.stellar({
      horizontalScrolling: false,
      verticalScrolling: true,
      positionProperty: 'position',
      responsive: true,
      hideDistantElements: true,
      hideElement: function($elem) { 
        $elem.removeClass('in');
        $elem.hide();
      },
      showElement: function($elem) { 
        $elem.show();
        setTimeout(function() {
          $elem.addClass('in');
        }, 50);
      }
    });