.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'dashboard/dashboard_nav', :active => 'social_networks'
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %h1.text-primary.no-marg-top Social Networks 
          
          = simple_form_for :socials, :url => '', :wrapper => :vertical_form, validate: true do |f|
            .social-networks-unit
              %ul.list-unstyled
                %li
                  .social-item.facebook
                    .media
                      .social-icon.pull-left
                        %i.fa.fa-facebook
                      .social-body.media-body
                        .row
                          .col-sm-10.col-lg-8
                            .link-social 
                              https://www.facebook.com/username
                          .col-sm-2.col-lg-4
                            .make-public
                              = f.input :show_facebook, :label => ('<span class="hidden-md hidden-sm">Show on profile</span><span class="hidden-xs hidden-lg nowrap">Public</span>').html_safe, :as => :boolean, :wrapper => :vertical_boolean
                            
                %li
                  = link_to '#', :class => 'social-item twitter' do
                    .media
                      .social-icon.pull-left
                        %i.fa.fa-twitter
                      .social-body.media-body
                        .row
                          .col-sm-8
                            .link-social Connect with Twitter
                %li
                  .social-item.linkedin
                    .media
                      .social-icon.pull-left
                        %i.fa.fa-linkedin
                      .social-body.media-body
                        .row
                          .col-sm-10.col-lg-8
                            .link-social
                              http://www.linkedin.com/pub/username
                          .col-sm-2.col-lg-4
                            .make-public
                              = f.input :show_linkedin, :label => ('<span class="hidden-md hidden-sm">Show on profile</span><span class="hidden-xs hidden-lg nowrap">Public</span>').html_safe, :as => :boolean, :wrapper => :vertical_boolean
                / END .social-item                  
            / END .social-networks-unit    
                         
            
            .form-action
              = f.button :submit, 'Save', :class => 'btn-primary btn-lg'
