.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'investors/side_navigation', :active => 'social_networks'
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %h1.text-primary.no-marg-top Social Networks 
          
          = simple_form_for :socials, :url => '', :wrapper => :vertical_form, validate: true do |f|
            
            .social-networks-unit
              %ul.list-unstyled
                %li
                  = link_to '#', :class => 'social-item facebook' do
                    .media
                      .social-icon.pull-left
                        %i.fa.fa-facebook
                      .social-body.media-body
                        .row
                          .col-sm-6
                            .link-social Connect with Facebook
                %li
                  = link_to '#', :class => 'social-item twitter' do
                    .media
                      .social-icon.pull-left
                        %i.fa.fa-twitter
                      .social-body.media-body
                        .row
                          .col-sm-6
                            .link-social Connect with Twitter
                %li
                  = link_to '#', :class => 'social-item linkedin' do
                    .media
                      .social-icon.pull-left
                        %i.fa.fa-linkedin
                      .social-body.media-body
                        .row
                          .col-sm-6
                            .link-social Connect with LinkedIn
                / END .social-item                  
            / END .social-networks-unit    
                         
            
            .form-action
              = f.button :submit, 'Save', :class => 'btn-primary btn-lg'
