.container
  .row
    .col-md-12
      = form_for [@campaign, @investment, @questionnaire], :url => campaign_investment_questionnaire_path(@campaign, @investment), :html => {:class => 'form-horizontal well'} do |f|

        = render 'shared/errors', :entity => @questionnaire
        = render_cell "tb/form/subhead", :display, :label => "Accredited Investor Questionnaire"

        %fieldset
          = f.hidden_field :investment_id

          - with_options :form => f do |op|
            = op.render_cell 'tb/form/select', :display, :field =>  :annual_income, :values => Questionnaire::ANNUAL_INCOMES
            = op.render_cell 'tb/form/select', :display, :field =>  :year_of_income, :values => Questionnaire::INCOME_YEARS
            = op.render_cell 'tb/form/select', :display, :field =>  :income_type, :values => Questionnaire::INCOME_TYPES
            = op.render_cell 'tb/form/select', :display, :field =>  :net_worth, :values => Questionnaire::NET_WORTHS

          = render_cell 'tb/form/submit_button', :display