%legend Updates
= render 'shared/errors', :entity => @update

- if active == :new
  - url = campaign_company_updates_path(@campaign, @update)
- else
  - url = campaign_company_update_path(@campaign, @update)

= form_for [@campaign, @update], :url => url, :html => {:class => 'form-horizontal well'} do |f|

  = render 'shared/errors', :entity => @update

  %fieldset
    = f.hidden_field :company_id

    - with_options :form => f do |op|
      = op.render_cell 'tb/form/text', :display, :field => :subject
      = op.render_cell 'tb/form/richtext', :display, :field => :details
      = op.render_cell 'tb/form/radiobutton', :display, :field => :visibility, :values => ["Everyone", "Accredited Investors", "My Investors", "Just Me"]
      = op.render_cell 'tb/form/text', :display, :field => :video_url

    = render_cell 'tb/form/submit_button', :display
