= form_for [@campaign, @update], :url => campaign_company_updates_path(@campaign, @update), :html => {:class => "form-horizontal"} do |f|

  = render_cell "tb/form/subhead", :display, :label => "Updates"

  %fieldset
    = f.hidden_field :company_id

    = render_cell 'tb/form/text_field', :display, :form => f, :field => :subject
    = render_cell 'tb/form/richtext_field', :display, :form => f, :field => :details
    = render_cell 'tb/form/radiobutton_field', :display, :form => f, :field => :visibility, :values => ["Everyone", "Accredited Investors", "My Investors", "Just Me"]
    = render_cell 'tb/form/text_field', :display, :form => f, :field => :video_url
    = render_cell 'tb/form/submit_button', :display