- if active == :new
  - url = campaign_company_updates_path(@campaign, @update)
- else
  - url = campaign_company_update_path(@campaign, @update)

= simple_form_for [@campaign, @update], :url => url, :wrapper => :vertical_form, :html => {:class => 'form-vertical'}, :validate => true do |f|
  = render 'shared/error_notification', :errors => f.error_notification
  
  = f.hidden_field :company_id
  
  .row
    .col-sm-7
      = f.input :subject, :label => 'Subject', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :vertical_form_with_icon
  = f.input :details, :label => 'Details', :as => :text, :input_html => {:rows => 3, :class => 'ckeditor'}, :wrapper => :vertical_form
  .row
    .col-sm-7
      = f.input :video_url, :label => 'Video URL', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :vertical_form_with_icon
    .col-sm-5
      = f.input :visibility, :label => 'Visible To', :collection => ["Everyone", "Accredited Investors", "My Investors", "Just Me"], include_blank: false
  
  .form-action.marg-bottom-lg
    = f.submit 'Save', :class => 'btn btn-primary btn-lg'
