
= render 'shared/property_row', :header => 'Subject', :value => update.subject
= render 'shared/property_row', :header => 'Details', :value => (raw update.details)
= render 'shared/property_row', :header => 'Visible to', :value => update.visibility
= render 'shared/youtube', :video_url => update.video_url unless update.video_url.blank?

%span= "Last updated #{time_ago_in_words(update.updated_at)} ago."
= link_to 'Edit', edit_company_update_path(update.company, update)
= button_to "Delete", [update.company, update], :method => :delete, :class => :destroy