%hr

.panel.panel-default.marg-bottom
  .panel-heading
    = link_to campaign_company_update_path(@campaign, update), :method => :delete, :class => 'close', :data => {:toggle => 'tooltip'}, :title => 'Remove this update' do
      %i.fa.fa-times-circle
    %h3.panel-title 
      Update ##{(update_counter + 1)}
      %small.bold.text-default.hidden-xs (Last updated #{time_ago_in_words(update.updated_at)} ago)
  .panel-body
    = simple_form_for update, :url => '', :wrapper => :vertical_form, :html => {:class => 'form-vertical'}, validate: true do |f|
      .row
        .col-sm-6
          = f.input :subject, :label => 'Subject', :as => :display
        .col-sm-6
          = f.input :visibility, :label => 'Visible To', :as => :display
      .form-group    
        .panel.panel-default.no-marg-bottom
          .panel-heading 
            %h4.panel-title.text-default Details
          .panel-body
            = f.input :details, :label => false, :as => :displayhtml
      .form-group    
        %label.control-label Video
        - unless update.video_url.blank?
          .flex-video.widescreen.vimeo
            = render 'shared/youtube', :video_url => @company.video_url, :width => 800, :height => 500
        - else
          .form-control-static.blank
            blank
  .panel-footer
    .btn-toolbar
      = link_to 'Edit', edit_campaign_company_update_path(update.company.campaign, update), :class => 'btn btn-primary'
