- content_for :masthead_blue do
  - content_for :wrapper_classes, 'no-pad-top'
  
  .page-header
    %h1 Electronic ACH Setup

.container
  %section.wrapper-page
    .page-body
      %p.text-green.text-justify.marg-bottom-lg In order to set up electronic payment,  we will need you to link your bank account. After you link your bank account, you will be able to electronically transfer your investment amount into a designated escrow account set-up specifically for the particular company in which you desire to invest. Please note that it takes approximately 3-5 business days for the funds to be transferred. Once you link your bank account, you willl be able to use this account for future electronic transfers on AlumVest. Please Note: ACH transactions have an associated fee per transaction.
      
      = simple_form_for @payment, :url => campaign_investment_online_payment_path(@campaign, @investment), :html => {:class => 'form-vertical'}, :wrapper => :vertical_form, :validate => true do |f|
        = render 'shared/error_notification', :errors => f.error_notification
        
        .row
          .col-sm-4.col-sm-offset-4
            = f.hidden_field :investment_id
            = f.input :bank_account_holder, :label => 'Bank'
            = f.input :bank_account_routing, :label => 'Routing Number'
            = f.input :bank_account_number, :label => 'Account Number'
            = f.input :bank_account_nickname, :as => :fake, :label => 'Nickname For Account'
            = f.input :bank_account_type, :as => :radio_buttons, :label => false, :collection => ["Checking", "Savings"], :checked => ["Checking"], :item_wrapper_class => 'radio-inline', :wrapper => :vertical_radio_and_checkboxes
        
        .text-center
          .form-group
            .checkbox
              %label
                = check_box_tag :bank_account_terms
                I have read and agree to the Terms of Service for the ACH transfers.            
          .form-action
            = f.button :button, :class => 'btn btn-primary btn-lg' do
              Create <span class="hidden-xs">your</span> bank account


-#
  = render 'investments/navigation', :active => 'payment', :campaign => @campaign
  
  #information.well
    = form_for @payment, :url => campaign_investment_online_payment_path(@campaign, @investment), :html => {:class => 'form-horizontal'} do |f|
      = render 'shared/errors', :entity => @payment
      = render_cell 'tb/form/subhead', :display, :label => 'Online Payment'
      = f.hidden_field :investment_id
  
      %fieldset
        - with_options :form => f do |op|
          = op.render_cell 'tb/form/helptext', :display, :text => "You are identifying your account to fund your investment of #{number_to_currency(@investment.amount)}"
          = op.render_cell 'tb/form/text', :display, :field => :bank_account_holder
          = op.render_cell 'tb/form/select', :display, :field => :bank_account_type, :values => ["CHECKING", "SAVING"]
          = op.render_cell 'tb/form/text', :display, :field => :bank_account_routing
          = op.render_cell 'tb/form/text', :display, :field => :bank_account_number
        = render_cell 'tb/form/submit_button', :display, :label => 'Save'