= render 'investments/navigation', :active => 'payment', :campaign => @campaign

#information.well
  - if @payment.unfunded?
    %table
      %tr
        %td= button_to 'Edit', edit_campaign_investment_online_payment_path(@campaign, @investment), :class => 'btn btn-default btn-xs', :method => :get
        %td= button_to 'Initiate ACH Transfer', campaign_investment_online_payment_funding_xn_path(@campaign, @investment), :class => 'btn btn-default btn-xs', :method => :post

  - if @payment.unfunded?
    %p= render 'shared/property_row', :header => '', :value => "You are identifying your account to fund your investment of #{number_to_currency(@investment.amount)}"

  - if @payment.funded?
    %p= render 'shared/property_row', :header => '', :value => "You initiated an ACH transfer to fund your investment of #{number_to_currency(@investment.amount)}"

  = render 'shared/property_row', :header => 'Bank account holder', :value => @payment.try(:bank_account_holder)
  = render 'shared/property_row', :header => 'Bank account type', :value => @payment.try(:bank_account_type)
  = render 'shared/property_row', :header => 'Bank account routing', :value => @payment.try(:bank_account_routing)
  = render 'shared/property_row', :header => 'Bank account number', :value => @payment.try(:bank_account_number)
