= content_for :header_1 do
  #title

- if @user.investor.present?
  = render 'investors/side_navigation', :active => 'bank_account'
- else
  = render 'users/side_navigation', :active => @active

#information.dashboard
  %h1
    Link your Bank Account  = form_for @bank_account, :url => user_bank_account_path(@user), :html => {:id => 'issuer_bank_account_form', :class => 'form-horizontal well'} do |f|
    = render 'shared/errors', :entity => @bank_account
    = f.hidden_field :user_id
    %fieldset
      - with_options :form => f do |op|
        = op.render_cell 'tb/form/text', :display, :field => :bank_account_holder
        = op.render_cell 'tb/form/select', :display, :field => :bank_account_type, :values => ["CHECKING", "SAVING"]
        = op.render_cell 'tb/form/text', :display, :field => :bank_account_routing
        = op.render_cell 'tb/form/text', :display, :field => :bank_account_number
      = render_cell 'tb/form/submit_button', :display, :label => 'Save'