= render "users/side_navigation", :active => 'demographic_info'
= render "users/header"

#information
  .container
    = button_to 'Edit', edit_user_demographic_path(@user), :class => 'btn btn-primary', :method => :get
    = render "shared/property_row", :header => "Mobile Phone", :value => @demographic.mobile_phone
    = render "shared/property_row", :header => "Home Phone", :value => @demographic.home_phone
    = render "shared/property_row", :header => "Address 1", :value => @demographic.address_1
    = render "shared/property_row", :header => "Address 2", :value => @demographic.address_2
    = render "shared/property_row", :header => "City", :value => @demographic.city
    = render "shared/property_row", :header => "State", :value => @demographic.state
    = render "shared/property_row", :header => "Zip", :value => @demographic.zipcode
    = render "shared/property_row", :header => "Personal Statement", :value => (raw @demographic.personal_statement)
