%tr
  %td
    = investment.created_at.strftime("%m/%d/%Y")
  %td
    %ul.list-inline
      %li.marg-bottom= image_tag("noavatar.gif", :width => 34, :height => 34)
      %li.marg-bottom= image_tag("noavatar.gif", :width => 34, :height => 34)
  %td
    %p Michigan University
    %p Wharton University
  %td
    = investment.campaign.company.company_name
  %td
    %ul.list-inline
      %li.marg-bottom= image_tag("noavatar.gif", :width => 34, :height => 34)
      %li.marg-bottom= image_tag("noavatar.gif", :width => 34, :height => 34)
  %td
    = number_to_currency(investment.amount)
  %td
    = "#{investment.campaign.recent_investment.investor.user.first_name} #{investment.campaign.recent_investment.investor.user.last_name} invested $#{investment.campaign.recent_investment.amount}"  
    

