= content_for :sidebar_left do
  %ul.nav.nav-stacked
    %li{:class => "#{'active' if active == 'investor_profile'}"}
      = link_to('Investor Profile', user_investor_path(@user))
    %li{:class => "#{'active' if active == 'investor_newsfeed'}"}
      = link_to('Investor Newsfeed', user_investor_events_path(@user))
    %li{:class => "#{'active' if active == 'income_verification'}"}
      = income_verification_link('Income Verification')