= content_for :header_1 do
  #title

= render 'users/education_modal'
= render 'side_navigation', :active => 'investor_dashboard'

.dashboard.investor-dashboard
  %h1 Dashboard
  .user-profile
    .user-profile-avatar
      - if @user.avatar.blank?
        = image_tag @user.avatar(:thumb)
      - else
        %img{:src => "http://placehold.it/128x128"}
    .user-profile-name
      = @user.full_name
    .user-profile-location
      = @user.city
      = @user.state
    %hr
    .user-profile-schools
      = @user.schools
      %li= link_to('edit', '#education-modal', :class => '', 'data-toggle' => 'modal')

  .follows
    %h4 Companies I'm following
    %hr
    %ul
      - @user.follows.each do |follow|
        - campaign = follow.campaign
        %li
          = link_to campaign.company.company_name, display_campaign_company_path(campaign)

  .school-update.block
    .block-header
      My School Updates
    .block-body
      There is no update

  .vc-updates.block
    .block-header
      Angel, VC's and More Updates
    .block-body
      There is no update

  .my-events.block
    .block-header
      My Events
    .block-body
      - unless @events.blank?
        - @events.each do |e|
          = render partial:  e.to_partial_path, :locals => {:event => e}
      - else
        %p
          There are no events to review here.

  .my-investments.block
    .block-header
      My Investments
    .block-body
      - unless  @user.investor.investments.blank?
        %table.table
          %tbody
            %tr
              %td
                Investment Date
              %td
                Campaign Name
              %td
                Pre-financing Valuation
              %td
                Amount Invested
              %td
                Recent Activities
            - @user.investor.investments.each do |i|
              = render :partial => 'investment', :locals => {:investment => i}
