.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'side_navigation', :active => 'investor_dashboard'
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %h1.text-primary.no-marg-top Dashboard
          
          .user-head-info
            .media
              .user-avatar.pull-left
                - if !@investor.photo_url.blank?
                  = image_tag(@investor.photo_url + "/convert?w=92&h=92", :class => 'img-thumbnail')
                - else
                  = image_tag("noavatar.gif", :class => 'img-thumbnail')
                
              .media-body
                .top-info
                  .row
                    .col-md-7
                      %h3.name
                        = @user.full_name
                        
                        - unless @investor.city.nil? || @investor.city.empty?
                          %small.city
                            %i.fa.fa-globe
                            = @investor.city
                      .interested-in
                        %h5 Interested in: 
                        %ul.list-unstyled
                          %li tech
                          %li mobile
                          %li healthcare
                          %li tech
                          %li mobile
                          %li healthcare
                          %li tech
                          %li mobile
                          %li healthcare
                          %li tech
                          %li mobile
                          %li healthcare
                          %li tech
                          %li mobile
                          %li healthcare
                    .col-md-5
                      = link_to 'Invite Friends', '#', :class => 'btn btn-success btn-sm'
                .bottom-info
                  .education-list
                    %ul.list-unstyled
                      %li
                        %i.fa.fa-hear
                        Harward University
                      %li
                        %i.fa.fa-hear
                        Wharton University
                      %li
                        %i.fa.fa-hear
                        Columbia University
                      %li
                        %i.fa.fa-hear
                        Harward University
                      %li
                        %i.fa.fa-hear
                        Wharton University
                      %li
                        %i.fa.fa-hear
                        Columbia University
                      %li
                        %i.fa.fa-hear
                        Harward University
                      %li
                        %i.fa.fa-hear
                        Wharton University
                      %li
                        %i.fa.fa-hear
                        Columbia University
          
          %section.following-companies-unit              
            %h4.text-info Companies I'm following
            %hr.no-marg-top
            %ul.list-unstyled
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
              %li
                .btn.btn-company
                  Company Name
                  %i.fa.fa-times
          
          %section.panel.panel-default
            .panel-heading My Investment Amount
            .panel-body
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          
          %section.panel.panel-default
            .panel-heading My School Updates
            .panel-body
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

          %section.panel.panel-default
            .panel-heading My Angel, VC & Other Updates
            .panel-body
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

          %section.panel.panel-default
            .panel-heading Please Tell Us About Your Investment Preferences
            .panel-body
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          
          -#
            .dashboard.investor-dashboard
            
              .follows
                %h4 Companies I'm following
                %hr
                %ul
                  - @user.follows.each do |follow|
                    - campaign = follow.campaign
                    %li
                      = link_to campaign.company.company_name, display_campaign_company_path(campaign)
            
              .school-update.block
                .block-header
                  My School Updates
                .block-body
                  There is no update
            
              .vc-updates.block
                .block-header
                  Angel, VC's and More Updates
                .block-body
                  There is no update
            
              .my-events.block
                .block-header
                  My Events
                .block-body
                  - unless @events.blank?
                    - @events.each do |e|
                      = render partial:  e.to_partial_path, :locals => {:event => e}
                  - else
                    %p
                      There are no events to review here.
            
              .my-investments.block
                .block-header
                  My Investments
                .block-body
                  = #TODO insert real data
                  %table.table
                    %tbody
                      %tr
                        %td
                          Investment Date
                        %td
                          Founder Schools
                        %td
                          Pre-financing Valuation
                        %td
                          Lead Investors
                        %td
                          Recent Activities
                      %tr
                        %td
                          2/14/13
                        %td
                          MIT, Columbia University
                        %td
                          $100,000
                        %td
                          Zial Faiosu
                        %td
                          Martin invested $50k.
