= render "side_navigation", :active => 'investor_profile'
= render "users/header"

#information
  = form_for @investor, :url => user_investor_path(@user), :html => {:class => 'form-horizontal editting-form well'} do |f|
    = render 'shared/errors', :entity => @investor

    %fieldset
      = f.hidden_field :user_id

      - with_options :form => f do |op|
        = op.render_cell 'tb/form/text', :display, :field => :ssn, :placeholder => "XXX-XX-XXXX"
        = op.render_cell 'tb/form/select', :display, :field =>  :marital_status, :values => ["Single", "Married", "Separated", "Divorced", "Widowed", "Cohabiting", "Civil Union", "Domestic Partnership"]
        = op.render_cell 'tb/form/richtext', :display, :field => :financial_info
        = op.render_cell 'tb/form/text', :display, :field => :spending_habits
        = op.render_cell 'tb/form/text', :display, :field => :income
        = op.render_cell 'tb/form/text', :display, :field => :income_type
        = op.render_cell 'tb/form/text', :display, :field => :net_worth
        = op.render_cell 'tb/form/text', :display, :field => :investor_representations
        = op.render_cell 'tb/form/text', :display, :field => :company
        = op.render_cell 'tb/form/text', :display, :field => :job_title
        = op.render_cell 'tb/form/richtext', :display, :field => :experience
        = op.render_cell 'tb/form/richtext', :display, :field => :expertise
        = op.render_cell 'tb/form/richtext', :display, :field => :personal_message
      = render_cell 'tb/form/submit_button', :display
