.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'investors/side_navigation', :active => 'basic_info'
        
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %h1.text-primary.no-marg-top Account Info
          
          = simple_form_for @user, url: user_account_info_path(@user), html: {class: 'form-horizontal account-info-fr'}, wrapper: :horizontal_form_with_inline_help do |f|
            = render 'shared/errors', :entity => @user
            = f.error_notification
            
            = f.input :first_name
            = f.input :last_name
            .form-group
              %label.col-sm-3.control-label Username
              .col-sm-5
                %input{type: "text", class: "form-control", value: ""}
              .col-sm-4
                %p.form-control-static https:alumvest.com/sasha
            = f.input :email, :hint => 'Email will not be publicly displayed.' 
            
            .form-group.form-action 
              .col-sm-5.col-sm-offset-3        
                = f.submit 'Save', :class => 'btn btn-primary btn-lg'
            
      
