= javascript_include_tag 'http://cdn.embed.ly/jquery.embedly-3.0.5.min.js'

.row
  .large-12.small-12.columns
    .row.roomy
      .large-8.columns
        #embed
          -#= link_to @campaign.video_url, @campaign.video_url, :style => 'display:none'
        -#= render 'shared/youtube', :video_url => @campaign.video_url
        %p
        -#%p= @campaign.headline
        -#%p= @campaign.company_highlights
        -# TODO: faq
        -# TODO: permalink
        %hr
        -#%p= raw @campaign.faq
      .large-4.columns
        .panel
          %div
            %h3 5
            backers
          %br
          %div
            %h3 $100
            invested of
            -#= "$#{@campaign.amount}"
            goal
          %br
          %div
            -#%h3= @campaign.length_in_days
            days left

      .large-4.columns
        .large.success.button{:style => "width: 304px"}
          Invest Now

      .large-4.columns
        .panel
          %p
            %span{:style => "padding: 10px"}= image_tag @company.logo(w:64, h:64) unless @company.logo.blank?
            = @company.company_name
          -#%p= "A #{@company.ownership_structure}, founded #{time_ago_in_words @company.founded_on} ago"
          = link_to @company.url, @company.url
          %p= raw @company.company_highlights

-#:javascript
  $('document').ready(function(){
    $('div#embed').embedly({
      query: { maxwidth: 254, maxheight: 139, wmode: 'transparent' },
      key: '6df201d3d6b8438983bfa7de1d9c8854'
    })
  });