= javascript_include_tag 'http://cdn.embed.ly/jquery.embedly-3.0.5.min.js'

.row
  .large-12.small-12.columns
    .row.roomy
      .large-8.columns
        #embed
          -#= link_to @campaign.video_url, @campaign.video_url, :style => 'display:none'
        -#= render 'shared/youtube', :video_url => @campaign.video_url
        %p
        -#%p= @campaign.headline
        -#%p= @campaign.highlights
        %hr
        %p= raw @campaign.pitch
      .large-4.columns
        .panel
          %div
            %h3 5
            backers
          %br
          %div
            %h3 $100
            invested of
            -#= "$#{@campaign.amount}"
            goal
          %br
          %div
            %h3= @campaign.length_in_days
            days left

      .large-4.columns
        .large.success.button{:style => "width: 304px"}
          Invest Now

      .large-4.columns
        .panel
          - @cbf = @company_worksheet.company_basic_form
          %p
            %span{:style => "padding: 10px"}= image_tag @cbf.logo(w:64, h:64) unless @cbf.logo.blank?
            = @cbf.name
          -#%p= "A #{@cbf.ownership_structure}, founded #{time_ago_in_words @cbf.founded_on} ago"
          = link_to @cbf.url, @cbf.url
          %p= raw @cbf.highlights

-#= link_to 'Edit', edit_company_worksheet_campaign_path(@company_worksheet, @campaign)

-#:javascript
  $('document').ready(function(){
    $('div#embed').embedly({
      query: { maxwidth: 254, maxheight: 139, wmode: 'transparent' },
      key: '6df201d3d6b8438983bfa7de1d9c8854'
    })
  });