= semantic_form_for [@company_worksheet, @campaign] do |f|

  = render 'shared/errors', :entity => @company_worksheet

  = f.inputs do
    = f.input :company_worksheet_id, :as => :hidden
    = f.input :permalink
    = f.input :pitch, :class => 'ckeditor'
    = f.input :planned_fund_usage

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Save changes'