/ - content_for :breadcrumbs do
/   %ol.breadcrumb
/     %li= link_to('Home', '/')
/     %li.unavailable= 'Business owner'
/     %li= link_to(campaign.owner.user.full_name, user_path(campaign.owner.user))
/     %li.active
/       - unless campaign.company
/         = link_to('New Company', new_campaign_company_path(campaign))
/       - else
/         = link_to(campaign.company.company_name, campaign_company_path(campaign))

= content_for :sidebar_left do
  %ul.nav.nav-pills.nav-stacked
    %li{:class => "#{'active' if active == :demographic}"}
      - unless entity = campaign.company
        = link_to('Company', new_campaign_company_path(campaign))
      - else
        = link_to('Company', campaign_company_path(campaign))
    %li{:class => "#{'active' if active == :people}"}
      - unless entity = campaign.team
        = link_to('Team', new_campaign_team_path(campaign))
      - else
        = link_to('Team', campaign_team_path(campaign))
    %li{:class => "#{'active' if active == :funding}"}
      - unless entity = campaign.investment_term
        = link_to('Investment Terms', new_campaign_investment_term_path(campaign))
      - else
        = link_to('Investment Terms', campaign_investment_term_path(campaign))
    %li{:class => "#{'active' if active == :updates}"}
      = link_to('Updates', campaign_company_updates_path(campaign))
    %li{:class => "#{'active' if active == :jobs}"}
      = link_to('Jobs', campaign_company_jobs_path(campaign))

= content_for :header_1 do
  .container
    %h4
      = campaign.company.try(:company_name) || 'New company'

    %p
      You can fill in whatever information you have for each section, not including Updates, and save your work. When you are ready, push the "Check for completeness" button for each section, to see what mandatory information you may be missing.
    - if campaign.can_submit_for_review?
      %p
        Now that you have completed the Company, Team, and Investment Terms sections, you are ready to submit your company for review by our site administrators. Your company information will not be editable while it is under review.
      %p
        = link_to('Submit for review', campaign_submit_for_review_path(campaign), :method => :post, :class => 'btn btn-default')
    %hr
