.wrapper-navbar-campaign
  .navbar-campaign{:data => {:spy => "affix", 'offset-top' => "360"}}
    %nav.navbar
      .container
        %ul.nav.navbar-nav.text-open-sans.navbar-left.strong 
          %li.col-xs-2{:class => "#{'active' if active == :company}"}
            = link_to '#company-anchor' do
              %span.top-icon
                %i.fa.fa-th
              %span.bottom-text Company
          %li.col-xs-2{:class => "#{'active' if active == :team}"}
            = link_to '#team-anchor' do
              %span.top-icon
                %i.fa.fa-users
              %span.bottom-text Team
          %li.col-xs-2{:class => "#{'active' if active == :investment_terms}"}
            = link_to '#terms-anchor' do
              %span.top-icon
                %i.fa.fa-file-text-o
              %span.bottom-text 
                %span.visible-sm-inline.visible-md-inline.visible-lg-inline Investment 
                Terms
          %li.col-xs-2{:class => "#{'active' if active == :faq}"}
            = link_to '#faqs-anchor' do
              %span.top-icon
                %i.fa.fa-question
              %span.bottom-text Faq’s
          %li.col-xs-2{:class => "#{'active' if active == :updates}"}
            = link_to '#updates-anchor' do
              %span.top-icon
                %i.fa.fa-repeat
              %span.bottom-text Updates
          %li.col-xs-2{:class => "#{'active' if active == :join_us}"}
            = link_to '#join-anchor' do
              %span.top-icon
                %i.fa.fa-user
                %i.fa.fa-plus
              %span.bottom-text Join Us
        %ul.nav.navbar-nav.navbar-right.text-open-sans.strong.visible-sm-block.visible-md-block.visible-lg-block
          %li
            %p.navbar-text
              %i.fa.fa-share-alt
              Share<span class="visible-md-inline visible-lg-inline"> it on</span> :
          %li
            = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Share on Facebook" do
              %i.fa.fa-facebook-square
          %li
            = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Share on Twitter" do
              %i.fa.fa-twitter-square
          %li
            = link_to '#', :data => {:toggle => "tooltip", :placement => "top", :container => 'body'}, :title => "Share on LinkedIn" do
              %i.fa.fa-linkedin-square
                  
  / END .navbar-campaign
