.row{:style => "margin-bottom: 2em"}
  .large-12
    .top-bar
      %section.top-bar-section
        %ul.left.main
          %li= link_to 'Company', display_campaign_company_path(@campaign)
          %li= link_to 'Team', display_campaign_team_path(@campaign)
          %li= link_to 'Investment Terms', display_campaign_investment_term_path(@campaign)
          %li= link_to 'Updates', campaign_company_updates_path(@campaign)
          %li= link_to 'Join Us', campaign_join_us_path(@company)