.col-md-4.columns.panel.outline
  = link_to display_campaign_company_path(campaign) do
    = image_tag campaign.company.photo_for_card_display, :class => "img-campaign"

  .company-title
    %h4
      = link_to campaign.company.campaign_title, display_campaign_company_path(campaign)
  .company-short-description
    %p
      = campaign.company.short_description
  .company-goal
    %table{:width => "100%"}
      %thead
        %tr
          %td
            = number_to_currency (investment_sum = 0)
          %td
            = number_to_currency (fundraising_amount = campaign.investment_term.fundraising_amount)
          %td
            = campaign.investments.finalized.count
      %tbody
        %tr
          %td
            Raised
          %td
            Goal
          %td
            Investors


    .progress.active
      .progress-bar.progress-bar-success{:role => "progressbar", :style => "width: #{ (investment_sum == 0) ? '1' : (investment_sum / fundraising_amount * 100)}%"}
