= render 'heading'
= render 'navigation'
%h3 Investment Terms
%p
  These documents will brief you on the company and its investment opportunity.
%p
  - @investment_term = @company_worksheet.investment_term
  = render 'shared/property_row', :header => 'Fundraising Amount', :value => (number_to_currency @investment_term.fundraising_amount)
  = render 'shared/property_row', :header => 'Convertible Note or Equity', :value => @investment_term.equity_type
  = render 'shared/property_row', :header => 'Funds Retained', :value => @investment_term.funds_retained
  = render 'shared/property_row', :header => 'Planned use for funds', :value => (raw @investment_term.planned_fund_usage)
  = render 'shared/property_row', :header => 'Campaign Length (days)', :value => @investment_term.campaign_length
  = render 'shared/property_row', :header => '', :value => (link_to_unless @investment_term.business_plan_url.blank?, 'Business plan', @investment_term.business_plan_url)
  = render 'shared/property_row', :header => '', :value => (link_to_unless @investment_term.tbd_financial_document_url.blank?, 'TBD Financial document', @investment_term.tbd_financial_document_url)
  = render 'shared/property_row', :header => '', :value => (link_to_unless @investment_term.tbd_funding_document_url.blank?, 'TBD Funding document', @investment_term.tbd_funding_document_url)
  = render 'shared/property_row', :header => '', :value => (link_to_unless @investment_term.tbd_detailed_metrics_document_url.blank?, 'TBD Detailed metrics document', @investment_term.tbd_detailed_metrics_document_url)
  = render 'shared/property_row', :header => '<h4>Recent investors</h4>'.html_safe, :value => (raw @investment_term.recent_investors)
  = render 'shared/property_row', :header => '<h4>Corporate Roadmap</h4>'.html_safe, :value => (raw @investment_term.roadmap)
  = render 'shared/property_row', :header => '<h4>Shareholder message</h4>'.html_safe, :value => (raw @investment_term.shareholder_message)
