= render 'heading'
= render 'navigation'
.row
  .large-8.columns
    %h3 Join Us
    %p
      We are a fun and creative company looking to build great stuff. We would love to hear from you, if you think that you would be a good fit!
.row
  .large-4.columns.right{:style => 'margin-top: -4em'}
    .panel
      %p
        %span{:style => "padding: 10px"}= image_tag @company.logo(w:64, h:64) unless @company.logo.blank?
        = @company.company_name
      %p= "A #{@company.ownership_structure}, founded #{time_ago_in_words @company.founded_on} ago"
      = link_to @company.url, @company.url
      %p= raw @company.highlights

  .large-8.columns
    .panel
      :erb
        <!-- Place this exact code where you want the Jobscore job widget to appear on the page.  The widget will expand to the size of the containing div -->
        <div class='jobscore-jobs' data-group-by='department' data-zebra-stripe='true' data-show-searchbar-count='0'>
        <div class='js-fallback' style='color:#888'><a style='color:#888;text-decoration:underline;' href='http://www.jobscore.com/jobs/haydukelabsllc'>Hayduke Labs, LLC jobs</a> powered by <a style='color:#888' href='http://www.jobscore.com'><img style='padding:0;' align='bottom' src='//www.jobscore.com/images/new/jobscore_logo_embed.png' alt='Applicant Tracking, Social Recruiting and Software Hiring Solution - JobScore'></a></div>
        </div><!-- /jobscore-jobs -->

:erb
  <script type='text/javascript'>
  (function(d, s, c) {
    if (window._jobscore_loader) { return; } else { window._jobscore_loader = true; }
    var o = d.createElement(s); o.type = 'text/javascript'; o.async = true;
    var sc = d.getElementsByTagName(s)[0]; sc.parentNode.insertBefore(o, sc);
    o.src = ('https:' == d.location.protocol ? 'https:' : 'http:') + '//www.jobscore.com/jobs/' + c + '/widget.js';
  })(document, 'script', 'haydukelabsllc');
  </script>