= semantic_form_for [@cmf] do |f|

  = render 'shared/errors', :entity => @cmf

  = f.inputs do
    = f.input :company_worksheet_id, :as => :hidden
    = f.input :product_media_url
    = f.input :market_info, :input_html => { :class => 'ckeditor' }
    = f.input :competitive_landscape, :input_html => { :class => 'ckeditor' }

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Save changes'