= semantic_form_for [@cmf] do |f|
  = f.inputs do
    = f.input :product_media_url
    = f.input :market_info
    = f.input :competitive_landscape

  = f.actions do
    = f.action :submit, :as => :input