%fieldset
  - with_options :form => f do |op|
    = op.render_cell 'tb/form/text', :display, :field => :name
    = op.render_cell 'tb/form/filepicker', :display, :field => :file_url, :label => "File", :type => "doc"
    = op.render_cell 'tb/form/checkbox', :display, :field => :signature_required, :label => 'Signature required'
    = op.render_cell 'tb/form/checkbox', :display, :field => :distribute_at_closing, :label => 'Distribute at closing'

  .form-group
    .col-md-8.col-md-offset-4
      = link_to_remove_association 'Remove this file', f, :class => 'btn btn-default btn-xs'

      %hr