.nested-fields.no-borders
  .panel.panel-primary.marg-bottom
    .panel-heading
      = link_to_remove_association(('<i class="fa fa-times-circle"></i>').html_safe, f, {:class => 'close', :data => {:toggle => 'tooltip'}, :title => 'Remove this document'})
      %h3.panel-title Document Info
    .panel-body  
      .form-horizontal
        = f.input :name, :label => 'Name', :icon => 'glyphicon glyphicon-ok form-control-feedback', :wrapper => :horizontal_form_with_icon
        = f.input :file_url, :as => :filepicker_image, :label => 'File', :wrapper => :horizontal_form_with_inline_help, :input_html => {:html_options => {:class => 'btn btn-default btn-block', 'data-extensions' => '.pdf,.xls,.doc,.docx,.ppt'}, :pick_button_html => 'Choose A File...', :delete_button_html => "Remove"}
        = f.input :signature_required, :as => :boolean, :label => 'Signature required', :wrapper => :horizontal_boolean
        = f.input :distribute_at_closing, :as => :boolean, :label => 'Distribute at closing', :wrapper => :horizontal_boolean
