= semantic_form_for [@campaign, @investment_term], :url => campaign_investment_term_path(@campaign) do |f|

  = render 'shared/errors', :entity => @investment_term

  = f.inputs do
    = f.input :campaign_id, :as => :hidden
    = f.input :fundraising_amount
    = f.input :campaign_length, :label => 'Campaign length (days)', :as => :select, :collection => ['30', '60,', '90', '120']
    = f.input :equity_type, :label => 'Convertible Note or Equity', :as => :select, :collection => ['Convertible Note', 'Equity']
    = f.input :funds_retained, :as => :select, :collection => ['All-or-nothing', 'Any']
    = f.input :fees_paid_by, :as => :select, :collection => ['Investor', 'Owner']
    = f.input :elevator_pitch, :input_html => { :class => 'ckeditor' }
    = f.input :investment_details, :input_html => { :class => 'ckeditor' }

    = f.input :planned_fund_usage, :label => 'Planned use for funds', :input_html => { :class => 'ckeditor' }
    = f.input :business_plan_url, :as => :formtastic_filepicker_image
    = f.input :financial_statement_url, :as => :formtastic_filepicker_image
    = f.input :term_sheet_url, :as => :formtastic_filepicker_image

    = render 'documents', :title => 'Subscription documents', :grouping => :subscription_docs, :add_title => 'Add Document', :f => f
    = render 'documents', :title => 'Others documents', :grouping => :other_docs, :add_title => 'Add Document', :f => f

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Save changes'