= semantic_form_for [@investment_term] do |f|

  = render 'shared/errors', :entity => @investment_term

  = f.inputs do
    = f.input :company_worksheet_id, :as => :hidden
    = f.input :fundraising_amount
    = f.input :equity_type, :label => 'Convertible Note or Equity', :as => :select, :collection => ['Convertible Note', 'Equity']
    = f.input :funds_retained, :as => :select, :collection => ['All-or-nothing', 'Any']
    = f.input :planned_fund_usage, :label => 'Planned use for funds', :input_html => { :class => 'ckeditor' }
    = f.input :campaign_length, :label => 'Campaign length (days)', :as => :select, :collection => ['30', '60,', '90', '120']
    = f.input :business_plan_url, :as => :formtastic_filepicker_image
    = f.input :tbd_financial_document_url, :as => :formtastic_filepicker_image
    = f.input :tbd_funding_document_url, :as => :formtastic_filepicker_image
    = f.input :tbd_detailed_metrics_document_url, :as => :formtastic_filepicker_image
    = f.input :recent_investors, :input_html => { :class => 'ckeditor' }
    = f.input :roadmap, :input_html => { :class => 'ckeditor' }
    = f.input :shareholder_message, :input_html => { :class => 'ckeditor' }

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Save changes'