= render 'campaigns/management_navigation', :active => :funding, :campaign => @campaign

%p
  = render_cell 'tb/mini_link_button', :display, :label => 'Edit Investment Terms', :link => edit_campaign_investment_term_path(@campaign)
  - if @investment_term.draft?
    = render_cell 'tb/mini_link_button', :display, :label => 'Check for completeness', :link => check_for_completeness_campaign_investment_term_path(@campaign)
  = render_cell 'tb/mini_link_button', :display, :label => 'Preview', :link => preview_campaign_investment_term_path(@campaign), :new_page => (not Rails.env.test?)

.panel
  %p

  = render 'shared/property_row', :header => 'Fundraising Amount', :value => (number_to_currency @investment_term.fundraising_amount)
  = render 'shared/property_row', :header => 'Campaign length (days)', :value => @investment_term.campaign_length
  = render 'shared/property_row', :header => 'Convertible Note or Equity', :value => @investment_term.equity_type
  = render 'shared/property_row', :header => 'Funds Retained', :value => @investment_term.funds_retained
  = render 'shared/property_row', :header => 'Fees Paid By', :value => @investment_term.fees_paid_by
  = render 'shared/property_row', :header => 'Elevator Pitch', :value => (raw @investment_term.elevator_pitch)
  = render 'shared/property_row', :header => 'Investment Details', :value => (raw @investment_term.investment_details)

  %ul
    %li= link_to_unless @investment_term.business_plan_url.blank?, 'Business plan', @investment_term.business_plan_url
    %li= link_to_unless @investment_term.financial_statement_url.blank?, 'Financial statement', @investment_term.financial_statement_url
    %li= link_to_unless @investment_term.term_sheet_url.blank?, 'Term sheet', @investment_term.term_sheet_url

  %ul
    - @investment_term.subscription_docs.each do |doc|
      %li= link_to doc.name, doc.file_url

  %ul
    - @investment_term.other_docs.each do |doc|
      %li= link_to doc.name, doc.file_url
  %br
