= render 'companies/navigation', :active => :funding, :company => current_user.owner.company

%ul
  %li
    %h4
      = link_to 'Edit', edit_company_investment_term_path(@company)
  - if @investment_term.draft?
    %li
      %h4= link_to 'Submit for review', submit_for_review_company_investment_term_path(@investment_term)

%h5 Status
#status= @investment_term.status.humanize

= render 'shared/property_row', :header => 'Fundraising Amount', :value => (number_to_currency @investment_term.fundraising_amount)
= render 'shared/property_row', :header => 'Campaign length (days)', :value => @investment_term.campaign_length
= render 'shared/property_row', :header => 'Convertible Note or Equity', :value => @investment_term.equity_type
= render 'shared/property_row', :header => 'Funds Retained', :value => @investment_term.funds_retained
= render 'shared/property_row', :header => 'Fees Paid By', :value => @investment_term.fees_paid_by
= render 'shared/property_row', :header => 'Elevator Pitch', :value => (raw @investment_term.elevator_pitch)
= render 'shared/property_row', :header => 'Investment Details', :value => (raw @investment_term.investment_details)
= render 'shared/property_row', :header => 'Planned use for funds', :value => (raw @investment_term.planned_fund_usage)

%ul
  %li= link_to_unless @investment_term.business_plan_url.blank?, 'Business plan', @investment_term.business_plan_url
  %li= link_to_unless @investment_term.financial_statement_url.blank?, 'Financial statement', @investment_term.financial_statement_url
  %li= link_to_unless @investment_term.tbd_funding_document_url.blank?, 'TBD Funding document', @investment_term.tbd_funding_document_url
  %li= link_to_unless @investment_term.tbd_detailed_metrics_document_url.blank?, 'TBD Detailed metrics document', @investment_term.tbd_detailed_metrics_document_url

= render 'shared/property_row', :header => 'Recent investors', :value => @investment_term.recent_investors.html_safe
= render 'shared/property_row', :header => 'Roadmap', :value => @investment_term.roadmap.html_safe
= render 'shared/property_row', :header => 'Shareholder message', :value => @investment_term.shareholder_message.html_safe