= semantic_form_for [@campaign_worksheet] do |f|
  = f.inputs do

    = f.input :permalink
    = f.input :name
    = f.input :headline
    = f.input :summary
    = f.input :about

  = f.actions do
    = f.action :submit, :as => :input
