= semantic_form_for [@campaign_worksheet] do |f|
  = f.inputs do

    = f.input :permalink
    = f.input :name
    = f.input :headline
    = f.input :summary, :class => 'ckeditor'
    = f.input :about, :class => 'ckeditor'

  = f.actions do
    = f.action :submit, :as => :input
