%nav.nav-footer
  %ul.breadcrumb
    %li
      = link_to "Home", :root
    %li
      = link_to "About us", "/about"
    %li
      = link_to "How it works?", "/about/how-it-works"
    %li
      = link_to "Terms & Conditions", '#'
    %li
      = link_to "Faq", '#'
    %li
      = link_to "Blog", '#'
    %li
      = link_to "Contact us", '#'
    
