%li{:style => 'opacity: 0.6'}= link_to "About", :root
%li{:style => 'opacity: 0.6'}= link_to "FAQ", :root
%li{:style => 'opacity: 0.6'}= link_to "Press", :root
%li{:style => 'opacity: 0.6'}= link_to "Terms & Conditions", :root
%li{:style => 'opacity: 0.6'}= link_to "Join Us", :root
%li{:style => 'opacity: 0.6'}= link_to "Privacy", :root
%li{:style => 'opacity: 0.6'}= link_to "Blog", :root
%li{:style => 'opacity: 0.6'}= link_to "Contact Us", :root
