%li{:style => 'opacity: 0.6'}= link_to "About", :root
%li{:style => 'opacity: 0.6'}= link_to "Locations", :root
%li{:style => 'opacity: 0.6'}= link_to "Services", :root
%li{:style => 'opacity: 0.6'}= link_to "Benefits", :root
%li{:style => 'opacity: 0.6'}= link_to "Contact", :root
