#user-type-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        = link_to '#', :class => "close", :data => {:dismiss => "modal", :toggle => "tooltip", :placement => "auto right", :container => 'body'}, "aria-hidden" => "true", :title => 'Close' do
          %i.fa.fa-times
        %h4.modal-title 
          Are you an investor or an issuer?
      .modal-body
        .row
          .col-sm-8.col-centered
            = form_for [current_user], :url => user_path(current_user), :html => {:class => 'form-horizontal'} do |f|
              = f.hidden_field :user_type, :value => 'Investor'
              = f.submit 'I am an Investor', :class => 'btn btn-primary btn-lg btn-block marg-bottom'
            = form_for [current_user], :url => user_path(current_user), :html => {:class => 'form-horizontal'} do |f|
              = f.hidden_field :user_type, :value => 'Issuer'
              = f.submit 'I am an Issuer', :class => 'btn btn-success btn-lg btn-block'
          
- content_for :scripts do
  :javascript
    $('#user-type-modal').modal()

