!!!
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="gt-ie9" lang="en"> <![endif]-->
<!--[if gte IE 9]><!--> <html lang="en"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %title
    \#{title = (yield :title); title.blank? ? "AlumVest" : title}
  = stylesheet_link_tag "application"
  //= stylesheet_link_tag "railsthemes_meta"
  //= stylesheet_link_tag "home"
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  = javascript_include_tag "application"
  = csrf_meta_tags
  = yield :head
  :plain
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Varela+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  = render 'layouts/shareaholic_header'
%body

  %nav#header.navbar.navbar-default.navbar-fixed-top{ 'role' => 'navigation'}
    .container
      .navbar-header
        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        %button.navbar-toggle{ :type => 'button', "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => '/', :class => 'navbar-brand'} AlumVest
      - unless content_for?(:without_navigation) || (yield :without_navigation) == true
        %div.collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            = render partial: 'layouts/header_navigation'
          %form.navbar-form.navbar-left.form-search{ :role => 'search'}
            %div.form-group
              %input.form-control{ :type => 'text', :placeholder => 'Search'}
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                = link_to current_user.name, user_path(current_user.id), :class => "btn small"
              %li
                = link_to('Sign out', logout_path, :class => "btn small", :method => :delete)
            - else
              %li
                = link_to('Register', '#signup-modal', :class => '', 'data-toggle' => 'modal')
              %li
                = link_to('Login', '#login-modal', :class => '', 'data-toggle' => 'modal')
  #content
    - if content_for? :breadcrumbs
      .row
        .col-md-12
          = yield :breadcrumbs
    - if content_for? :header_1
      .row
        .col-md-12
          = yield :header_1
    - if content_for? :sub_navigation
      = yield :sub_navigation
    .row
      - if content_for? :sidebar_left
        #sidebar.col-xs-12.col-md-3
          = yield :sidebar_left
        .col-md-9.col-xs-12
          = render 'layouts/flash', :flash => flash
          = yield
      - elsif content_for? :sidebar_right
        .col-md-8.col-xs-12
          = render 'layouts/flash', :flash => flash
          = yield
        #sidebar.col-md-4.col-xs-12
          = yield :sidebar_right
      - else
        .col-md-12.col-xs-12
          = render 'layouts/flash', :flash => flash
          = yield
  .push
  #footer
    .container
      .row{:style => "padding-top: 100px"}
        - unless content_for?(:without_navigation) || (yield :without_navigation) == true
          .col-md-12.col-xs-12
            %ul.nav.nav-pills
              = render 'layouts/footer_navigation'
          %hr
          %div
            %p
              = mail_to "info@alumvest.com"
              &nbsp;&#149;&nbsp; 999.9999 | Copyright (c) 2013 AlumVest, Inc.  All Rights Reserved. 
    #signup-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
              &times;
            .h4
              Sign Up
          .modal-body
            %a{:href => "/auth/facebook", :class =>"btn btn-primary btn-block"} Sign up via Facebook
            %a{:href => "/auth/linkedin", :class =>"btn btn-info btn-block"} Sign up via Linkedin
            %a{:href => new_identity_path, :class =>"btn btn-success btn-block"} Sign up via Email
    #login-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
              &times;
            .h4
              Login
          .modal-body
            %a{:href => "/auth/facebook", :class =>"btn btn-primary btn-block"} Login via Facebook
            %a{:href => "/auth/linkedin", :class =>"btn btn-info btn-block"} Login via Linkedin
            %a{:href => new_session_path, :class =>"btn btn-success btn-block"} Login via Email
  
  = yield :scripts
</html>
