!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    
    %title= "#{title = (yield :title); title.blank? ? 'AlumVest' : title}"
      
    = favicon_link_tag '/favicon.png'
    
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '//cdn-images.mailchimp.com/embedcode/slim-081711.css' unless Rails.env.test?
  
    = javascript_include_tag :modernizr 
    = csrf_meta_tags
    
    = yield :head
    
    -#= render 'layouts/shareaholic_header'
    
    - unless Rails.env.test?
      /[if lt IE 9]
        %script{:src => "//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
  %body{:class => content_for?(:body_classes) ? "#{yield(:body_classes)}" : ""}
    
    .root
      = render 'layouts/header'
      
      - if content_for? :masthead_blue
        %section.masthead-blue
          .container
            = yield :masthead_blue
      
      .wrapper-content{:class => content_for?(:wrapper_classes) ? "#{yield(:wrapper_classes)}" : ""}
        - if content_for? :header_1
          .container
            = yield :header_1
            
        = yield :breadcrumbs if content_for? :breadcrumbs
        = yield :sub_navigation if content_for? :sub_navigation
    
        - if content_for? :sidebar_left
          .container
            .row
              #sidebar.col-xs-12.col-md-3
                = yield :sidebar_left
              #main-content.col-md-9.col-xs-12
                = render 'layouts/flash', :flash => flash
                = yield
        - elsif content_for? :sidebar_right
          .container
            .row
              .col-md-9.col-xs-12
                = render 'layouts/flash', :flash => flash
                = yield
              #sidebar.col-md-3.col-xs-12
                = yield :sidebar_right
        - else
          - if content_for? flash
            .container
              = render 'layouts/flash', :flash => flash
            
          = yield
        
      / END .wrapper-content
      
      - if content_for? :inside_container_section
        = yield :inside_container_section
      
      - unless content_for? :without_footer
        = render :partial => 'shared/what_next'        
        = render :partial => 'shared/featured'
      
      .root-footer
    / END .root
    
    / Loader Indicator
    - if content_for? :loader
      = yield :loader
    - else
      #loader.loader.fade
        %h2.loader-text.fade Loaging&hellip;
        .loader-corner
        .loader-backdrop.fade
      
    
    - unless content_for? :without_footer
      = render :partial => 'layouts/footer'
  
    / Modals 
    - unless current_user
      = render :partial => 'layouts/signup_modal'
      = render :partial => 'layouts/login_modal'
    
    - if current_user && current_user.user_type_undefined?
      = render :partial => 'layouts/user_type_modal'
    
    = javascript_include_tag 'application'
    = yield :scripts
    
