!!!
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="gt-ie9" lang="en"> <![endif]-->
<!--[if gte IE 9]><!--> <html lang="en"> <!--<![endif]-->
<!--
This file is included as part of the Meta theme from
RailsThemes.com, which is licensed for use in a single website. The
license can be found in the doc folder of this application or at
railsthemes.com/terms. -->
%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "Luke Flener, RailsThemes.com", :name => "designer"}/
  %link{:href => image_path('railsthemes_meta/favicon.ico'), :rel => "icon", :type => "image/x-icon"}/
  %title
    \#{title = (yield :title); title.blank? ? "AlumVest" : title}
  = stylesheet_link_tag "application"
  = stylesheet_link_tag "railsthemes_meta"
  = javascript_include_tag "application"
  = javascript_include_tag "railsthemes_samples" unless Rails.env.production?
  = javascript_include_tag "http://www.emplada.com/js/embed-all.js"

  = csrf_meta_tags
  = yield :head
  :plain
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Varela+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu' rel='stylesheet' type='text/css'>
  = render 'layouts/shareaholic_header'
%body
  .wrapper
    #header
      .contain-to-grid
        .row
          .large-4.small-4.columns
            = link_to :root do
              .hide-for-small
                %h2.logo AlumVest
              .show-for-small
                %h2.logo Meta
          .large-8.small-8.columns
            - unless content_for?(:without_navigation) || (yield :without_navigation) == true
              .row
                %ul.button-group.right.top
                  - if current_user
                    %li
                      = link_to current_user.name, user_path(current_user.id), :class => "button small"
                    %li
                      = link_to('Sign out', logout_path, :class => "button small", :method => :delete)
                  - else
                    %li
                      = link_to('Register', new_identity_path, :class => "button small")
                    %li
                      = link_to('Login', new_session_path, :class => "button small")
        - unless content_for?(:without_navigation) || (yield :without_navigation) == true
          .top-bar
            %ul.title-area
              %li.name &nbsp;
              %li.toggle-topbar.menu-icon
                = link_to "#" do
                  %span Menu
            %section.top-bar-section
              %ul.right.main
                = render partial: 'layouts/header_navigation', locals: { theme: "meta" }
    #content
      .row
        - if content_for? :sidebar_left
          #sidebar.large-3.small-12.columns
            = yield :sidebar_left
          .large-9.small-12.columns
            = render 'layouts/flash', :flash => flash
            = yield
        - elsif content_for? :sidebar_right
          .large-8.small-12.columns
            = render 'layouts/flash', :flash => flash
            = yield
          #sidebar.large-4.small-12.columns
            = yield :sidebar_right
        - else
          .large-12.small-12.columns
            = render 'layouts/flash', :flash => flash
            = yield
    .push
  #footer
    .row
      .large-4.small-12.columns
        %h4 AlumVest
        - unless content_for?(:without_navigation) || (yield :without_navigation) == true
          %p
            Learn about super cool stuff.
            %br
            %strong
              Sign up for our newsletter!
          %form
            %input{ :type => "text", :placeholder => "Your Email" }
            %input{ :type => "submit", :class => "button secondary small" }
      - unless content_for?(:without_navigation) || (yield :without_navigation) == true
        .large-8.small-12.columns
          %ul.inline-list.main
            = render 'layouts/footer_navigation'
          %hr
          %p
            = mail_to "info@alumvest.com"
            &nbsp;&#149;&nbsp; 999.9999
            %br
            Copyright (c) 2013 AlumVest, Inc.  All Rights Reserved.
  = javascript_include_tag "railsthemes_meta"
  = yield :scripts
  = yield :reveal_modals
</html>
