- content_for :wrapper_classes, 'no-pad-top no-pad-bottom'

.how-it-works
  #how-it-works-nav.container
    %ul.nav.nav-pills.nav-stacked
      %li.active
        = link_to "Review Startup Profile", "#step1"
      %li
        = link_to "Click Invest Now", "#step2"
      %li
        = link_to "Choose Your Investment Amount", "#step3"
      %li
        = link_to "Verify Your Accredited Investor Status", "#step4"
      %li
        = link_to "Transfer Funds Into Escrow", "#step5"
      %li
        = link_to "Sign Investment Documents", "#step6"
  .how-it-works-process
    #step1.step-process
      .container
        .how-it-works-text
          Please carefully review the startup of your interest by clicking the “Company” tab on its profile page. You can also click on the (1) “Team” tab to learn about the founders, their school affiliations and how you know the founders, (2) “Investment Terms” tab to review the terms of the investment, (3) “FAQ” and “Updates” tabs to read about the founders’ responses to frequently asked investor questions or company updates, (4) “Join Us” tab to see how you can get involved with the startup & (5) “Discussion” tab to ask another question of the founders.
    #step2.step-process
      .container
        .how-it-works-text
          Please carefully review the startup of your interest by clicking the “Company” tab on its profile page. You can also click on the (1) “Team” tab to learn about the founders, their school affiliations and how you know the founders, (2) “Investment Terms” tab to review the terms of the investment, (3) “FAQ” and “Updates” tabs to read about the founders’ responses to frequently asked investor questions or company updates, (4) “Join Us” tab to see how you can get involved with the startup & (5) “Discussion” tab to ask another question of the founders.
    #step3.step-process
      .container
        .how-it-works-text
          After clicking the Invest Now button, you will be taken to a page where you can input your desired Investment Amount.  Please be aware of the applicable minimum investment size & any administrative fees which may be added on top of your Investment Amount.
    #step4.step-process
      .container
        .how-it-works-text
          After clicking the blue Start button, you will be able to officially verify you accredited investor (“AI”) status via our trusted third party providers. Under the SEC”s new rules, we are required to take “reasonable steps” to verify that you are an AI. Whether you are an individual or an entity, we have several methods for you to use to seamlessly verify your AI status.
    #step5.step-process
      .container
        .how-it-works-text
          After clicking the blue Start button, you will be able to transfer the funds for your Investment Amount into an independent 3rd party escrow account. You can seamlessly transfer funds online from your bank account or transfer funds offline via a wire or check. Depending on the method you choose, instructions on how to transfer your funds will be shown on the screen.
    #step6.step-process
      .container
        .how-it-works-text
          After clicking the blue Start button, you will be able to complete the entire process of electronically signing all of the required Investment Documents.  E-signing is done via our trusted third party provider. Once the investment round closes, you will receive via email a copy of your fully executed Investment Documents.
