.container
  .team-member-block
    .row
      .col-md-5.col-xs-5
        .team-member-description
          .team-member-title
            CEO
          .team-member-name
            = link_to "Lynn Chen", "#lynn-chen"
          .team-member-job-responsibility
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .team-member-life
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member-cap.col-md-7.col-xs-7
        %img{ :src => image_path('//farm6.staticflickr.com/5549/9729095194_7954a958b1_c.jpg') }
        .social-network
          %a{ :href => '#' }
            %span.glyphicon.glyphicon-send
            facebook
          %a{ :href => '#' }
            %span.glyphicon.glyphicon-send
            linkedin
          %a{ :href => '#' }
            %span.glyphicon.glyphicon-send
            twitter

  .team-member-block
    .row
      .col-md-5.col-xs-5
        .team-member-description
          .team-member-title
            COO
          .team-member-name
            = link_to "Sasha", "#sasha"
          .team-member-job-responsibility
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .team-member-life
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member-cap.col-md-7.col-xs-7
        %img{ :src => image_path('//farm6.staticflickr.com/5549/9729095194_7954a958b1_c.jpg')}

  .team-member-block
    .row
      .col-md-5.col-xs-5
        .team-member-description
          .team-member-title
            PM
          .team-member-name
            = link_to "Daniel Yang", "#daniel-yang"
          .team-member-job-responsibility
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .team-member-life
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member-cap.col-md-7.col-xs-7
        %img{ :src => image_path('//farm6.staticflickr.com/5549/9729095194_7954a958b1_c.jpg')}

  .team-member-block
    .row
      .col-md-5.col-xs-5
        .team-member-description
          .team-member-title
            Backend
          .team-member-name
            = link_to "Kyle Sun", "#kyle-sun"
          .team-member-job-responsibility
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .team-member-life
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member-cap.col-md-7.col-xs-7
        %img{ :src => image_path('//farm6.staticflickr.com/5549/9729095194_7954a958b1_c.jpg')}

  .team-member-block
    .row
      .col-md-5.col-xs-5
        .team-member-description
          .team-member-title
            Backend
          .team-member-name
            = link_to "Mike Pence", "#mike-pence"
          .team-member-job-responsibility
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .team-member-life
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member-cap.col-md-7.col-xs-7
        %img{ :src => image_path('//farm6.staticflickr.com/5549/9729095194_7954a958b1_c.jpg')}

  .team-member-block
    .row
      .col-md-5.col-xs-5
        .team-member-description
          .team-member-title
            Frontend
          .team-member-name
            = link_to "Han Hua", "#han-hua"
          .team-member-job-responsibility
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .team-member-life
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member-cap.col-md-7.col-xs-7
        %img{ :src => image_path('//farm6.staticflickr.com/5549/9729095194_7954a958b1_c.jpg')}

  .team-member-block
    .row
      .col-md-5.col-xs-5
        .team-member-description
          .team-member-title
            Designer
          .team-member-name
            = link_to "Linlin Pan", "#linlin-pan"
          .team-member-job-responsibility
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .team-member-life
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member-cap.col-md-7.col-xs-7
        %img{ :src => image_path('//farm6.staticflickr.com/5549/9729095194_7954a958b1_c.jpg')}
